[2015-08-11 20:58] mikeal opened #1 "Implementation"
Let's discuss how we want to deliver this program to achieve our goes.
- What is the minimum length of a Code + Learn?
- What are some events that we can integrate with?

[2015-08-11 20:59] mikeal commented on #1
@wraithan @piscisaureus I remember you both had a lot of great ideas during the summit.

[2015-08-11 21:03] mikeal opened #2 "September Events"
There's a number of existing events in Europe in September that we should target. Additionally, I'll be in Europe the entire month and can help put together the logistics of each event.
- FutureJS, Barcelona (September 4-5)
- NodeConf.eu, Waterford, Ireland (September 8th)
- Dublin (I'll be here a few days after NodeConf.eu)
- London (I could easily go to London after Dublin)
- Web Tech Fest Berli

[2015-08-11 21:24] jasnell commented on #2
I'll be in Waterford for NodeConf.eu. That said, IBM is already leading two of the workshops and we have full agendas for those already. Not sure if the agenda is going to leave much room for more.

[2015-08-11 21:25] jasnell commented on #1
Step one should be determining the agenda/goals and figuring out what parts of that the current nodeschool curriculum does not cover.

[2015-08-11 21:33] mikeal commented on #1
@jasnell that's addressed in the README :)

[2015-08-11 22:01] jasnell commented on #1
Sigh. It helps if I RTFR, eh?

[2015-08-12 20:51] iancrowther commented on #2
@mikeal put me down for London.

[2015-08-12 21:19] mikeal commented on #2
@iancrowther any thoughts about venue?

[2015-08-12 21:53] iancrowther commented on #2
i have a few, it depends on what capacity your after?

start small with 30-50 and venues are good to go.  more than that we need to make some calls but I have a list from my LNUG searches.

I need more info really.  is this a big bang, big PR job? do we want 100 in the room?

we need to be able to get enough experienced heads in the room to actually teach the materials

[2015-08-12 21:58] mikeal commented on #2
@iancrowther less than 50 for sure :)

[2015-08-12 23:02] iancrowther commented on #2
ok so we need some materials pronto hey.  anything in the works?

[2015-08-12 23:06] iancrowther commented on #2
can we leverage some of the going native bits from nodeschool?

[2015-08-13 14:47] iancrowther commented on #2
@mikeal ok so I have a venue primed.

do we have a landing page so I can tkt and PR?

[2015-08-13 14:48] iancrowther commented on #2
anyone used any cool pairing tools? Atom maybe?

we could get funky and do a cross border pairing session?

[2015-08-13 15:35] mikeal commented on #2
So, the idea here is that we get people diving in to areas that are not already widely understood. That sort of excludes areas with a nodeschool tutorial already written about them.

Instead, I'm pulling in all the contributors that can make it and asking them to write up issues and find things people can work on with a little guidance. The mentors will be providing that guidance in person on a on

[2015-08-19 16:49] Trott commented on #1
Putting together an outline for a draft syllabus would probably inform the answers to both questions.

Is the idea that different Code + Learn events would lead towards different parts of the code base? Like, maybe some C++ stuff using libuv or whatever one time, and streams the next time, etc. Or is it more like different attendees at each event end up in different parts of the code base dependin

[2015-08-19 18:13] mikeal commented on #1
What we can accomplish in each of these is fairly dependent on the contributors we get. For instance, with Trevor at Waterford and Ben at Berlin each is going to look a bit different, and probably wildly different from Dublin and London where we might only have website contributors.

Also, we want to get people diving into real work and issues, which change week to week. I think that the mentors i

[2015-08-25 05:24] Trott commented on #1
I'm sure this is part of the plan, but just to make it explicit: It would be great if there was sufficient direction provided by this repo such that no specific individual (e.g., @mikeal) needs to be there. Just as long as there's a critical mass of collaborators (three? one?)... I suppose a checklist or something like that can be created after two or three of the events have happened and there's

[2015-08-25 09:07] iancrowther commented on #2
1st draft logo for London

https://files.gitter.im/maxwellito/xlBW/thumb/Screen-Shot-2015-08-20-at-22.03.17.png

[2015-08-25 10:35] iancrowther commented on #1
thats a good call - de-centralise things

[2015-08-25 15:33] mikeal commented on #1
That's the eventual goal. I'm going to run a few of these in September and
come back with what we've learned and write it all up. At that point it
should be easy for anyone to run one.

On Tue, Aug 25, 2015 at 3:35 AM, Ian Crowther notifications@github.com
wrote:

[2015-08-25 16:06] mikeal commented on #2
London! Ya'll are amazing!

[2015-08-25 16:08] mikeal commented on #2
So, the board meeting is pushed back a week so I'm going to go ahead and move forward this week making these happen. The trick is that I can't commit to spending any money whatsoever until the board approves.

Let's get the word out about London and try to track down mentors.

@iancrowther do you think the best way to capture this is to create a new issue here for the London even and have mentors

[2015-08-25 20:35] Trott commented on #1
Additional idea: Have collaborators do a run-through using other collaborators as the learners. This will:
- hopefully identify issues before they affect "real" learners
- spread knowledge around among existing collaborators

I would love to learn more about libuv etc. through a process like this.

Might only be feasible for areas that have a critical mass of collaborators already, unless we break

[2015-08-25 21:00] iancrowther commented on #2
@mikeal - A london thread for sure, noise sucks.

I'll announce tomorrow at LNUG and see

a) who wants to come
b) who wants to help
c) who can mentor

We will really need to push for mentors so a sign up form alone won't cut it.  we need to tweet and direct email so lets put a list of names together on a gsheet and reach out.  we could just '@' them on the github thread if thats easier.

No worrie

[2015-08-25 21:03] mikeal commented on #2
@iancrowther for mentors maybe we should just track down any nearby
contributors and push them to sign up? I doubt there are that many, but we
don't need that many, this isn't NodeSchool :) In fact, the kinds of people
who usually mentor a NodeSchool might be great candidates to attend this :)

On Tue, Aug 25, 2015 at 2:00 PM, Ian Crowther notifications@github.com
wrote:

[2015-08-25 22:04] iancrowther commented on #2
totally agree - i have a few folks in mind

[2015-08-26 15:12] iancrowther opened #4 "London - Saturday 12th September 2015"
A seperate thread for event info and mentor signup

[2015-08-26 15:24] iancrowther commented on #4
https://files.gitter.im/maxwellito/xlBW/thumb/Screen-Shot-2015-08-20-at-22.03.17.png

[2015-09-02 22:09] iancrowther commented on #4
@mikeal - any news?

[2015-09-03 07:41] mikeal commented on #4
We are a go! :)

[2015-09-03 15:26] maxwellito commented on #4
![lnug_logo_final](https://cloud.githubusercontent.com/assets/1097232/9662683/71acf8b6-5258-11e5-9e16-cea671dc68cb.png)
That is the final! :) Much better

[2015-09-09 21:37] iancrowther commented on #4
https://ti.to/code-and-learn/london-september-2015

[2015-09-09 21:38] iancrowther commented on #4
i was going to make a landing page but was a bit unsure.. maybe we can do on sat

[2015-09-12 14:34] iancrowther commented on #2
Feedback

- Intro to the focus area was really essentail, in our case the website
- Paired programming was great for getting to know people
- We just about had enough issues specified to work on

Next time
- Delegate lead mentor who will drive the area of focus
- Define a list of issues that can be worked on during the event appropraite from beginner to advanced.

[2015-09-12 17:25] iancrowther commented on #4
Feedback
- Intro to the focus area was really essentail, in our case the website
- Paired programming was great for getting to know people
- We just about had enough issues specified to work on

Next time
- Delegate lead mentor who will drive the area of focus
- Define a list of issues that can be worked on during the event appropraite from beginner to advanced.

[2015-09-12 17:26] iancrowther commented on #2
Thanks to everyone who was involved with this event.

[2015-09-12 18:29] iancrowther opened #39 "Swag budget"
Is there a swag budget?
How will swag be distributed?

We should create a stickermule collection for chapter stickers for the start?

[2015-09-12 18:31] iancrowther opened #40 "Chapter organisation"
Will each chapter be listed on `nodejs.org/get-involved/events/code-and-learn`

[2015-09-12 18:32] iancrowther commented on #40
this maybe a q for the new.nodejs.org repo, but the code-and-learn page does not exist yet :-)

[2015-09-12 18:35] iancrowther opened #41 "ti.to access for code-and-learn"
I created the `ti.to/code-and-learn` organisation.

I can add organisers to the team if they want to make use of this org.

[2015-09-12 18:37] iancrowther commented on #2
Closed the wrong issue! sorry

[2015-09-12 18:37] iancrowther commented on #4
Thanks to everyone who was involved with this event.

[2015-09-12 18:37] #4 closed, assigned to nobody

[2015-09-12 18:39] iancrowther commented on #1
@mikeal will you be putting together the "How to run a code-and-learn" file once you have completed your trials.

[2015-09-13 13:23] mikeal commented on #1
Yup, the first few are each very different so we're going to see how they go and then build up a document that should help more people run and sustain them.

[2015-09-13 18:07] iancrowther commented on #1
great

[2015-09-27 09:53] iancrowther commented on #2
@mikeal - happy to close now?

[2015-09-27 09:56] iancrowther commented on #40
currently https://nodejs.org/en/get-involved/code-and-learn/ goes to https://ti.to/code-and-learn.

We could do with a dedicated page that highlights the next event and maybe filters by chapter.

[2015-09-27 14:58] mikeal commented on #2
Yup, closing. Will writeup a redux of what we learned later.

[2015-09-27 14:58] #2 closed, assigned to nobody

[2015-10-26 22:09] iancrowther opened #51 "London - Next Event - November 28th 2015"
We are launching a new event on November 28th in London called the Node Jamboree. We're going to run a 4 track meet up in the morning, followed by a code party in the afternoon / evening.

The tracks are:
- Nodeschool
- Nodebots
- Meteor
- Code and Learn

@mikeal @fhemberger - when can we jump on a call to start putting a priority list together for code and learn.

Anyone from the webwg fancy comi

[2015-10-29 07:53] fhemberger commented on #51
At the moment I don't have any topics for the website to work on.

But it would really be super-super-awesome to have a script converting the old legacy documentation into something similar to the new docs. At the moment, the old documentation is simply a complete mirror of the entire website at that point in time, so we have to maintain assets and redirects. A good start would be to have the docs

[2015-10-29 21:42] mikeal commented on #51
also the new knowledge base needs a ton of work before it is linked to on the main page.

[2015-10-30 21:36] iancrowther commented on #51
ok ill have a think about this over the weekend

[2015-11-20 18:57] iancrowther opened #52 "add note about hashtag on website"
# codeandlearn

[2016-03-06 07:09] williamkapke opened #54 "Status?"
I have been really looking forward to seeing this progress.. but it seems to have stalled (about 6 months now)...?

The [Code + Learn](https://nodejs.org/en/get-involved/code-and-learn/) section of the website under [Get Involved](https://nodejs.org/en/get-involved/) is a bit stale now. The link to https://ti.to/code-and-learn only shows 1 past event a long time ago. As anyone reading this knows..

[2016-03-09 16:10] iancrowther commented on #54
hey - this is very much on my radar and am aiming to run an event in march

[2016-03-09 21:10] williamkapke commented on #54
Ok. I'll keep a watch on this repo for more info then.

[2016-04-18 22:36] mikeal opened #56 "Code and Learn at Node.js Interactive in Amsterdam"
So, I'd like to resurrect this event to run either before or after the Node.js Interactive events in Amsterdam and Austin.

We need to figure out what this will look like so that we can budget it correctly.

As a reminder, this program was intended as a series of workshops for getting people working _on_ Node.js itself. The goal was that by the end of the workshop they would have a PR open, or be

[2016-04-18 22:37] MylesBorins commented on #56
I'd be up for helping with this, obviously dependent on me attending the events

[2016-04-19 15:14] bnoordhuis commented on #56
Amsterdam is my home turf (after a fashion) so I'll volunteer.  I request remuneration only for the train ticket but I do tend to travel 1st class exclusively so there's that.

[2016-04-19 16:09] iancrowther commented on #56
happy to chip in

[2016-06-22 19:22] williamkapke commented on #54
Progress has been made! New events on the way!

I've opened an issue on the nodejs.org repo to update the stale info on website.
https://github.com/nodejs/nodejs.org/issues/796

[2016-06-22 19:22] #54 closed, assigned to nobody

[2016-08-11 21:11] mikeal commented on #56
We really need someone to step up to lead this effort at Amsterdam and Austin (doesn't need to be the same person each time).

[2016-08-11 21:18] jasnell commented on #56
I can help as a mentor on site. Going to be fairly busy I think so I don't want to overcommit as 'lead'

[2016-08-11 21:32] MylesBorins commented on #56
@mikeal would this be running during the collaborator summit? Do we have resources to offer individuals, potentially with a focus on under represented groups, continued support after a code and learn?

I think it might be particularly interesting to pair current collaborators with new collaborators. It might also be great if we can offer some sort of scholarship to individuals in need so that they

[2016-08-12 00:45] Fishrock123 commented on #56
Which day is this at in Amsterdam?

I _may_ be able to help but I definitely don't want to lead it.

[2016-08-12 10:59] bnoordhuis commented on #56
I can lead but it depends on what day it is.  (EDIT: In Amsterdam.)

[2016-08-12 20:31] mikeal commented on #56
Morning of the 17th.

[2016-08-12 20:47] addaleax commented on #56
I’ll definitely want to be there and can probably also invest some time into it beforehand.

[2016-08-13 12:58] bnoordhuis commented on #56
How morning is morning?  17th works for me but I need to drive up from Groningen.  I can be there around 11 am.

[2016-08-13 13:47] addaleax commented on #56
9:00 – 12:00 (http://events.linuxfoundation.org/events/node-interactive-europe/program/agenda)

[2016-08-17 09:32] bnoordhuis commented on #56
Thanks, that page was still blank last I checked. :-)

I don't think I'll be able to make 9 am, I'd have to leave before 6 am.

[2016-09-08 14:38] mikeal commented on #56
Heya, do you need anything from the events team?

[2016-09-08 14:48] Fishrock123 commented on #56
I won't be there fwiw.

[2016-09-08 16:58] bnoordhuis commented on #56
So who is going to lead?

[2016-09-08 17:00] addaleax commented on #56
If nobody else is available, I can try to, even as a newbie… I’d definitely want to talk with people who have done this before in that case

[2016-09-08 17:02] MylesBorins commented on #56
im up for being involved, let me know what I can do to help

[2016-09-08 17:02] bnoordhuis commented on #56
IRC or email?  Don't worry, the biggest thing is to have some 'good first contribution' issues stacked up, everything else flows from there (after walking people through how to build first.)

[2016-09-08 17:06] addaleax commented on #56
hm, how about in IRC in an hour (I’m busy until then), maybe with @TheAlphaNerd too?

[2016-09-08 17:09] jasnell commented on #56
I will be there also and can definitely help in any way that I can but I'm more than happy for @addaleax or others to take the lead if they'd like.

[2016-09-08 17:10] bnoordhuis commented on #56
I have cheese/bacon pancakes and a Danish krimi to attend to first but I'll hop onto IRC afterwards.  Make it 1.30h from now.

[2016-09-08 17:12] addaleax commented on #56
oh, have fun! and yeah, works for me :)

[2016-09-08 17:16] MylesBorins commented on #56
ping me when ya’ll are ready, I should be around

[2016-09-09 19:41] addaleax commented on #56
oh, yeah, seems I forgot to comment… I should be able to lead this :)

[2016-09-15 20:34] addaleax commented on #56
Okay, so from what I’ve gathered by talking to a few people here, the expectations for Code & Learn are a bit diverse, as are the skill levels of attending people. I’ve gathered a few changes that people might up to do, maybe that’s enough (I’ll definitely gather a bit more), but I’m pretty sure that even if not we’re going to be able to provide attendees with things they’re interested in (@saghul

[2016-09-16 06:47] saghul commented on #56
Great work putting that together @addaleax! FWIW, I tagged some issues as good first contributions to libuv here: https://github.com/libuv/libuv/labels/good-first-contribution So if anyone what's to go for it, I'm happy to help as a mentor.

[2016-09-16 07:26] jasnell commented on #56
wow... amazing list! To this I would add that there are a number of issues tagged as `docs-requested` that could be accessible to some participants.

[2016-09-17 08:08] sejoker commented on #56
I would like to pickup test cleanup of `test-c-ares.js` from @addaleax proposed list

[2016-09-17 08:19] wzoom commented on #56
DONE Working on `test-child-process-detached.js` from the comment above

[2016-09-17 08:19] MichaelTSS commented on #56
Working on `test-child-process-buffering` from @addaleax's comment

[2016-09-17 08:26] alkiskal commented on #56
Working on `test-child-process-stdout-flush.js` from @addaleax's comment

[2016-09-17 08:26] AdriVanHoudt commented on #56
Working on `test-child-process-buffering.js`

[2016-09-17 08:27] MichaelTSS commented on #56
@AdriVanHoudt ?

[2016-09-17 08:28] pmatzavin commented on #56
Working on test-child-process-stdio.js

[2016-09-17 08:28] AdriVanHoudt commented on #56
@MichaelTSS yeah I raised my hand ^^ I have a PR ready but you can take it if you want

[2016-09-17 08:30] MichaelTSS commented on #56
@AdriVanHoudt keep your PR I'll do something else

[2016-09-17 08:31] AdriVanHoudt commented on #56
@MichaelTSS Thanks and I fear @alkiskal has took it :S

[2016-09-17 08:42] yosuke-furukawa commented on #56
I am working on

[2016-09-17 08:43] AdriVanHoudt commented on #56
Taking var -> const in lib/internal/bootstrap_node.js

[2016-09-17 08:47] lrlna commented on #56
👋 ; I am in `test-path.js` .

[2016-09-17 08:48] quibusus commented on #56
working on unsafe signal warning in lib/internal/process.js

[2016-09-17 08:48] alistairjcbrown commented on #56
Working on support for `SharedArrayBuffer` in `lib/util.js`

[2016-09-17 08:48] thomasvanlankveld commented on #56
on `test-tls-connect-any-given-socket`

[2016-09-17 08:49] delvedor commented on #56
Working on `test-os.js`!

[2016-09-17 08:50] akito0107 commented on #56
I am working on `test-net-server-address`

[2016-09-17 08:50] hohy commented on #56
Working on `test-pipe-file-to-http.js`

[2016-09-17 08:50] Thylossus commented on #56
Working con [test-crypto-random.js](https://github.com/nodejs/node/blob/master/test/parallel/test-crypto-random.js)

[2016-09-17 08:50] canastro commented on #56
Working on `test-http-agent-destroyed-socket.js`

[2016-09-17 08:50] gareth-ellis commented on #56
working on `lib/v8.js, src/node_v8.cc`

[2016-09-17 08:52] wzoom commented on #56
DONE working on `test-eval.js`

[2016-09-17 08:56] ronaldronson commented on #56
working on test-assert.js

[2016-09-17 09:02] RachBLondon commented on #56
working on `test/parallel/test-cluster-disconnect-idle-worker.js`

[2016-09-17 09:03] graphicbeacon commented on #56
working on test/parallel/test-async-wrap-post-did-throw.js

[2016-09-17 09:06] RachBLondon commented on #56
working on `node/test/parallel/test-cluster-disconnect-unshared-tcp.js`

[2016-09-17 09:08] RachBLondon commented on #56
working on `node/test/parallel/test-cluster-disconnect-unshared-udp.js`

[2016-09-17 09:11] digitalsadhu commented on #56
working on `test/parallel/test-fs-read.js`

[2016-09-17 09:12] JonathanPrince commented on #56
working on `node/test/parallel/test-child-process-send-utf8.js`

[2016-09-17 09:20] ilmartyrk commented on #56
working on `test/parallel/test-async-wrap-check-providers.js`
`test/parallel/test-async-wrap-disabled-propagate-parent.js`

[2016-09-17 09:23] sejoker commented on #56
working on `test/parallel/test-child-process-exec-env.js`

[2016-09-17 09:29] zvictor commented on #56
working on `lib/internal/streams/lazy_transform.js` (referred above as `lib/internal/lazy_transform.js`)

[2016-09-17 09:34] AdriVanHoudt commented on #56
doing more var -> const in `/lib/internal/child_process.js`

[2016-09-17 09:36] wzoom commented on #56
done working on `test-child-process-disconnect.js`

[2016-09-17 09:37] DennisSchwartz commented on #56
Im doing some var to const in test/parallel/test-child-process-stdin.js

[2016-09-17 10:15] ilmartyrk commented on #56
For other beginners like me, who want to run single tests try running in console
`/usr/bin/python tools/test.py --mode=release -J \ {path to test}`
for example:
`/usr/bin/python tools/test.py --mode=release -J \ parallel/test-async-wrap-disabled-propagate-parent`

[2016-09-17 10:42] wzoom commented on #56
DONE Working on `test-child-process-cwd.js`

[2016-09-26 21:14] mikeal opened #57 "Merge with NodeTodo"
This effort is pretty awesome and has a less confusing name than this effort http://nodetodo.org/

[2016-09-26 21:48] addaleax commented on #57
/cc @Trott

[2016-09-27 00:05] Trott commented on #57
Node Todo is still pretty new (we've had about 5 events and so far have helped about 25 people get their first PRs in). It was envisioned specifically as independent from the Foundation and the project. It's closer to the NodeSchool model: Oh, hey, here's what we do, and if you want to do this in your location, please do!

So, you can basically just create an event and declare that it's Node Todo.

[2016-09-28 10:05] yosuke-furukawa opened #58 "Code And Learn at NodeFest 2016"
Hi folks.
[NodeFest](http://nodefest.jp/2016/) is the largest Node.js conference at Japan.

I am an organizer of the conference, I would like to open code-and-learn-jp on NodeFest.
Japan has 1 collaborator (me) and 1 core team member (shigeki) and some great nodeschool staffs (martin, ledsun, watilde, tako-black, etc). We would like to support contribution to nodejs/core.

And I would like to list

[2016-09-30 19:16] mikeal commented on #57
Node Todo seems a lot more scalable that what we've been doing here and I like that it's more in the NodeSchool vein.

I'd prefer to deprecate this repo and pour any funding and other resources we had been spending on this into Node Todo :)

[2016-10-06 21:13] hackygolucky commented on #57
I'm happy to help where I can with this(pointing resources this way, alotting some time, pitching in where my help is useful). Sounds like a rad way to concentrate community energy.

[2016-10-13 18:31] bengl commented on #56
Is there a thread to organize this for Austin?

[2016-10-13 23:02] addaleax opened #59 "Code And Learn at Node Interactive in Austin"
Time: December 1, 9 am – 12 am (3 pm – 6 pm UTC).

Todo:
- [ ] Gather and pre-review tasks for participants to address
- [ ] Prepare storage medium (Network storage seems to be the best idea) for downloading a fresh clone of the core repository + eventually needed compilers
- [ ] Get estimates for mentor/attendee numbers
- [ ] Solicit off-site collaborators who can start reviewing PRs while the ev

[2016-10-13 23:02] addaleax commented on #56
@bengl I don’t think so, so: https://github.com/nodejs/code-and-learn/issues/59

[2016-10-13 23:03] addaleax commented on #59
@nodejs/collaborators: Who of you is going to be at NI NA and is able to help with mentoring Code & Learn attendees? Are some of you likely going to be able to review PRs as they are being opened?

[2016-10-13 23:07] imyller commented on #59
I'm available for reviewing & mentoring PRs remotely.

I suggest that new (temporary) Github Project is opened for grouping Austion C&L session PRs and special attention is given for those to make it a pleasant experience for participants.

[2016-10-13 23:16] bengl commented on #59
If I'm at NINA (most likely), I'm in. If not, happy to review.

[2016-10-13 23:16] Trott commented on #56
Closing because this happened and planning for the next one is over in #59. As always, feel free to re-open or comment if you feel this really shouldn't be closed.

[2016-10-13 23:16] #56 closed, assigned to nobody

[2016-10-13 23:17] Trott commented on #59
I'll be there!

[2016-10-13 23:18] evanlucas commented on #59
I'll be there and would love to help!

[2016-10-13 23:32] williamkapke commented on #59
I'll be there in a supportive role (like I did in Amsterdam).

[2016-10-13 23:37] MylesBorins commented on #59
o/

[2016-10-14 00:21] bmeck commented on #59
I can be there to help in person :)

[2016-10-14 05:40] jasnell commented on #59
I'll be there for sure.

[2016-10-14 07:35] AdriVanHoudt commented on #56
@Trott you made a slight typo in Amsterdam ;)

[2016-10-14 07:49] mcollina commented on #59
I'll be there.

A couple of notes. I think we should come up with more substantial "good-first-contributions", so all mentors should probably engage in creating/tagging some issues _before_ the event.
A massive amount of var -> const is not 100% what it needs.

I think we should also stress the fact that in OSS we triple-check each other work, and it takes a while for a contribution to land. And t

[2016-10-14 09:15] lrlna commented on #59
Ooo! Y'all are doing another one in Austin! I am gonna come again then ^_^

[2016-10-14 13:32] sam-github commented on #59
I'll be there, I can help.

[2016-10-14 20:29] hackygolucky opened #60 "Code & Learn at Node Interactive Austin"
Continuing the discussion from here https://github.com/nodejs/code-and-learn/issues/56 but also looking at how we can improve for November from the Amsterdam event. This was a really neat opportunity in Amsterdam filled with folks excited to learn. So much so that an overwhelming amount of people showed and we needed more help. Please let us know **especially** if you'd like to mentor.  Let's plan

[2016-10-14 20:41] evanlucas commented on #60
I am really interested in mentoring at this event. I'm comfortable with OS X and linux.

[2016-10-14 21:35] Trott commented on #60
I think a less classroom/presentation setup and more tables with people sitting _around_ them and looking at each other (and helping each other, whether they're mentors or not!) would be better, but I also wasn't at Amsterdam so I'm mostly guessing.

[2016-10-14 21:36] Trott commented on #60
I think it would be very useful to get some variation of [these instructions that I use for NodeTodo](https://gist.github.com/Trott/4f527b7fc73d669aafa9858d865bc563) out to attendees ahead of time if at all possible. Coming to something like this and only finding out _then_ that you need to install XCode Tools or whatever can be frustrating.

[2016-10-14 21:38] Trott commented on #60
3 hours seems like the minimum amount of time, 5 is probably the maximum before mentors and others start to burn out, and 4 is probably the happy median.

[2016-10-14 21:41] Trott commented on #60
On the celebration question: Maybe buy a hundred or so of a custom hexagonal sticker that people can put on their laptop or their name tag or whatever they want? They get the sticker after they submit a pull request. One-of-a-kind item, people seem to like stickers, any people who don't can just throw them out, and it's not a huge expense.

[2016-10-14 21:44] Trott commented on #60
Consider opening up the mentor role to anyone who has contributed already, not just Collaborators.

[2016-10-14 22:41] hackygolucky commented on #56
There is now! #60

On Thu, Oct 13, 2016, 7:02 PM Anna Henningsen notifications@github.com
wrote:

[2016-10-14 23:59] addaleax commented on #59
Okay I’m closing this in favour of @hackygolucky’s #60, that seems a bit more organized, but I’ll take the liberty to add people who raised their hand for mentoring here over there :)

[2016-10-14 23:59] #59 closed, assigned to nobody

[2016-10-15 00:02] addaleax commented on #59
(Please indicate the OS combinations you’d be able to help with over there!)

[2016-10-15 03:44] thefourtheye commented on #60
If my Visa gets approved, I would love to help as a volunteer :)

I am comfortable with *nix and vim.

[2016-10-19 13:44] mhdawson commented on #60
I'll be there and am I'm happy to be a mentor, preference is *nix, followed by windows.

[2016-11-06 04:20] yosuke-furukawa commented on #58
Contributing Point:

doc typo:
- doc/modules.md: line 132 `lookups`, it would be better `looks up`.
- doc/cluster.md: line 147, 499 has `eg.`, it would be better `e.g.`.
- doc/repl: line 6 has `includable`, it would be better `includible`. http://wikidiff.com/includable/includible
- doc/dns.md: line 263 `e.g.,` => `e.g.`
- doc/http.md: line 553/856 `e.g.,` => `e.g.`
- doc/tls.md: line 762 836 1026

[2016-11-06 04:46] Trott commented on #58
If you need more issues, one thing you can do is search through the test files for `assert.equal()`. In almost all cases, the test could be improved by using `assert.strictEqual()` instead. The one exception I can think of might be `test-assert.js` where use of `assert.equa()` may be necessary.

[2016-11-06 04:47] yosuke-furukawa commented on #58
Contributing Point:

test:
- test/parallel/test-http-status-reason-invalid-chars.js: use port 0 instead of common.PORT,

[code]

[2016-11-06 04:47] yosuke-furukawa commented on #58
@trott thank you!!! sound so good. I am currently searching contribution point on code-and-learn on nodefest.

[2016-11-06 05:12] Trott commented on #58
Here's another one: There are a number of instances of `setTimeout()` where the function is called without a duration (the second argument). Node.js will treat that the same as calling it with a duration of  `1`. In many of these cases, it might be better to use `setImmediate()`.

Here are some of those cases. I have not reviewed them to verify that `setImmediate()` is better, but that might be an

[2016-11-06 05:21] yosuke-furukawa commented on #58
test: use port 0 instead of common.PORT
- test/parallel/test-cluster-net-send.js

[code]
- test/parallel/test-tls-connect-address-family.js
- test/parallel/test-net-socket-destroy-twice.js

[2016-11-06 05:24] Trott commented on #58
@ronkorving is a collaborator and lives in Tokyo.

[2016-11-06 05:24] yosuke-furukawa commented on #58
@trott ah, that's so good.
I will list these points.

[2016-11-07 09:37] ronkorving commented on #58
@Trott @yosuke-furukawa Indeed :) I'm not too active in the Japanese Node community, but wouldn't mind trying harder :) My Japanese is not yet 100% what I would like it to be. In any case, I signed up for Sunday (visitor) and wouldn't mind helping with the organization next year either if that's appreciated. I'll see you on Sunday. 楽しみにしてます ^^

[2016-11-07 15:01] jasnell commented on #58
@yosuke-furukawa I'm definitely looking forward to being there and will help out in whatever way that I can. I just want to confirm that the Code and Learn is scheduled for Saturday afternoon, correct? I want to take a little bit of time Saturday morning to sight see a little bit and I want to make sure I plan things so I won't be late to the Code and Learn :-)

[2016-11-08 10:25] shigeki commented on #58
I'm going to join it to help participants and take care of what tests and docs can be good for the first contributions.  But actually, the class is just one and half hour so I think it is too short for novices.

Instead of submitting a new PR to nodejs repo, I made an alternative repo of node to give  such users the first experiences of contributions in https://github.com/shigeki/node_testpr/ . It

[2016-11-08 12:11] shigeki commented on #58
I've just submitted some issues of test failures to be reserved for this course in https://github.com/nodejs/node/issues/9509, https://github.com/nodejs/node/issues/9510 and  https://github.com/nodejs/node/issues/9511

[2016-11-09 01:22] yosuke-furukawa commented on #58
@jasnell

Yes!!! Code And Learn will begin 15:45 on Saturday, and the end time is 17:15.

And I really would like you to attend **NodeDiscussion** on Saturday morning, almost 90 min (11:00-12:30). This discussion is unconference style. We would like to discuss about Node.js good point/bad point/wishlist. I would like share our opinions to node core committers.

If you don't have any time on Saturd

[2016-11-09 01:24] yosuke-furukawa commented on #58
@ronkorving Ya!!! please help us !!!! You can come our venue and speak to our receptionist as `mentor`. you can join :)

[2016-11-09 01:59] yosuke-furukawa commented on #58
@shigeki awesome!!! I will wrap up these contribution point on this Thursday.

[2016-11-10 06:17] Trott commented on #58
You can remove that one from the list as I'm in the process of fixing it while refactoring a bunch of other things in the test. Sorry about that.

You can replace it, though with these tests which all have at least one instance of `setTimeout()` called without a second argument, and thus are candidates for possibly using `setImmediate()` instead:
- test/parallel/test-stream2-readable-wrap.js line

[2016-11-10 10:55] ronkorving commented on #58
@yosuke-furukawa Sounds good, I'll try to make it! :) Basically just show up before 3:45?

[2016-11-10 13:04] yosuke-furukawa commented on #58
@Trott thank you soooooooooooooooo much!!!!!!!!!!!!!!!!!!!!!!

[2016-11-10 13:06] yosuke-furukawa commented on #58
@ronkorving Yes! we will start at 15:45 on dots Shibuya, tokyo. https://eventdots.jp/space

[2016-11-11 16:18] Fishrock123 commented on #58
https://coverage.nodejs.org/coverage-fb05e31466ac0bad/root/internal/process/stdio.js.html
1. A `pseudo-tty` test that manually fires `'SIGWINCH'` and makes sure none of the properties set by [_refreshSize](https://github.com/nodejs/node/blob/master/lib/tty.js#L72-L88) have been changed.
2. Add the `stderr.destroy`/`stderr.destroySoon` error checking to the test which already checks that for stdout

[2016-11-12 04:59] yosuke-furukawa commented on #58
@Fishrock123
Thank you sooooooooo much !!!!! This coverage information is really helpful for us.

[2016-11-12 05:17] yosuke-furukawa commented on #58
All contribution point:
docs:
- doc/modules.md: line 132 lookups, it would be better looks up.
- doc/cluster.md: line 147, 499 has eg., it would be better e.g..
- doc/repl: line 6 has includable, it would be better includible. http://wikidiff.com/includable/includible
- doc/dns.md: line 263 e.g., => e.g.
- doc/http.md: line 553/856 e.g., => e.g.
- doc/tls.md: line 762 836 1026 e.g., => e.g.

doc i

[2016-11-12 06:06] Trott commented on #58
We have a lint rule for that so you shouldn't find any examples of `deepEqual` that haven't been explicitly excused as necessary exceptions (e.g., in `test-assert.js`).

[2016-11-12 06:42] yosuke-furukawa commented on #58
@Trott OK, I updated.

[2016-11-12 07:12] dorako321 commented on #58
i will try to fix this `doc/dns.md: line 263 e.g., => e.g.`

[2016-11-12 07:12] akito0107 commented on #58
I will try to fix `test/parallel/test-cluster-net-send.js` !

[2016-11-12 07:13] fossamagna commented on #58
I try to fix test: `test/parallel/test-net-socket-destroy-twice.js`
use port 0 instead of common.PORT
https://github.com/nodejs/code-and-learn/issues/58#issuecomment-258661387

[2016-11-12 07:13] nao215 commented on #58
I will try to fix `test/parallel/test-stream-unshift-read-race.js`!

[2016-11-12 07:13] fand commented on #58
I'm gonna try `test/parallel/test-stream-transform-objectmode-falsey-value.js line 33`!

[2016-11-12 07:14] ikasumiwt commented on #58
I'll try to fix `doc/http.md: line 553/856 e.g., => e.g.`

[2016-11-12 07:15] saitoxu commented on #58
I'll try to fix `test/parallel/test-http-status-reason-invalid-chars.js`: use port 0 instead of common.PORT

[2016-11-12 07:15] nanocloudx commented on #58
I will try to fix `doc/tls.md: line 762 836 1026 e.g., => e.g.`

[2016-11-12 07:19] YutamaKotaro commented on #58
I will try to fix issue, doc/tls.md: line 762 836 1026 e.g., => e.g.!

[2016-11-12 07:20] YutamaKotaro commented on #58
I will try to fix doc/cluster.md: line 147, 499 has eg., it would be better e.g..

[2016-11-12 07:22] mkamakura commented on #58
I'll try to fix `test/parallel/test-tls-connect-address-family.js` : use port 0 instead of common.PORT

[2016-11-12 07:23] utano320 commented on #58
I'll try to fix `doc/repl: line 6 has includable, it would be better includible.`

[2016-11-12 07:23] pg-ito commented on #58
I'll try to fix `doc/modules.md: line 132 lookups, it would be better looks up.`

[2016-11-12 07:35] mganeko commented on #58
I'll tight to fix `doc/repl: line 6 has includable, it would be better includible.`

[2016-11-12 07:56] mganeko commented on #58
I'll try to fix `test/parallel/test-stream2-push`, using setImmediate() instead of setTimeout()

[2016-11-12 07:59] akito0107 commented on #58
I'll try to improve coverage of `stdio` .

[2016-11-12 08:00] fossamagna commented on #58
I will try to fix `test/parallel/test-stream-unshift-empty-chunk.js`

[2016-11-12 08:03] nao215 commented on #58
I'll try to fix `test/parallel/test-stream-unshift-empty-chunk.js`

[2016-11-12 08:17] applideveloper commented on #58
送っちゃった
https://github.com/nodejs/node/pull/9579/files

[2016-11-12 09:04] shigeki commented on #58
I would like to ask for English native speakers to confirm if series of PRs to correct `e.g.,` are right in English grammar.

[2016-11-13 01:29] #58 closed, assigned to nobody

[2016-11-14 03:59] ronkorving commented on #58
Good job everyone :) I had a blast this weekend. Thank you all.

[2016-11-15 16:09] Fishrock123 commented on #58
@yosuke-furukawa do you know if anyone took up the two suggestions I had?

[2016-11-15 16:28] yosuke-furukawa commented on #58
@Fishrock123 Unfortunately, no one choose your suggestions, everyone chooses minor typo and minor test fix. BUT I share coverage information to Japanese noders.

[2016-11-15 16:58] Fishrock123 commented on #58
Ok, just wanted to know so I could pass them on to others/do them myself. :)

[2016-11-16 17:41] hackygolucky commented on #60
Fun times! Reporting in with registration numbers--currently,  306 people have registered for this O_o which is awesome and also a little terrifying. We tend to see attrition for these signups at about 50%. So that still means about 150 people.

@Trott We ordered a surprise small swag for folks who come to Code & Learn and have a celebration moment. :) It's already been delivered to my house, just

[2016-11-16 18:28] sam-github commented on #60
Sam Roberts, Linux/OS X and vim. Also, not a member of this repo so can't edit description to add the info next to my name.

[2016-11-16 19:43] Trott commented on #60
I'd propose making it the explicit goal to give attendees a map to getting a PR opened and get them as far as they can that day, but also give them a resource for getting further should they get stuck.

For Node Todo, this is what I give people: https://gist.github.com/Trott/4f527b7fc73d669aafa9858d865bc563

If people get to the point where they've submitted a PR, then 🎉. Awesome. But if they don'

[2016-11-16 19:46] Trott commented on #60
I'd also say that we should see if we can identify some advanced topics ahead of time for people that aren't there to learn the basic mechanics of contributions but are there to offer their pre-existing expertise for some darker corners of the code where we need a deeper bench. Why wouldn't someone like that just dive in rather than come to an event like this? I don't know, but if someone _does_,

[2016-11-16 19:51] cjihrig commented on #60
https://coverage.nodejs.org/ would be a great place to point more adventurous attendees.

[2016-11-22 20:08] Qard commented on #60
Looks like I'll be there, so I'm happy to lend a hand! My platforms of choice are OSX and Linux.

[2016-11-23 16:15] italoacasas commented on #60
If my Travel funding happens I would love to help. I am comfortable with *nix, windows and vim.

[2016-11-30 21:15] brad-decker commented on #60
Missed out on signing up before it was sold out, but just a quick shout out to all of you for organizing this and volunteering to help. Node Interactice has compelled me to contribute. Thanks for what you do.

[2016-11-30 22:11] sam-github commented on #60
@addaleax @Trott don't know what you are planning on having people do, but if you want a list of good first contributions:

## doc

- process.versions.module is not documented
- IncomingMessage.connection is not documented, .socket is not documented
  either as to whether it is a Socket or a TLSSocket
- UV_THREADPOOL_SIZE not documented as a node env var
- what APIs use the thread pool not documen

[2016-11-30 22:22] Trott commented on #60
@sam-github Awesome! @addaleax and I created a massive list of things, but I want to use yours as well for people who already have a pull request or two in and are looking for something a little more challenging than "please change assert.equal() to assert.strictEqual()". Let's chat for a few minutes after the keynote?

[2016-11-30 23:16] sam-github commented on #60
@Trott Sure, I've been looking for you, unsuccesfully, I'm in the back of the room, audience right.

[2016-11-30 23:18] Trott commented on #60
Annnnnd  I'm in the front, audience left.

[2016-12-01 02:18] addaleax commented on #60
@nodejs/collaborators Reminder: We will hold this tomorrow at 9am in Austin (15:00 UTC), so if you are around here, please come by and mentor people; if you are not but you have the time at your hands, feel free to start reviewing PRs! :)

[2016-12-01 06:49] cdnadmin commented on #60
Hi, y'all, I'd like to work on [#9069](https://github.com/nodejs/node/issues/9069) with @jasnell  as a possible segue into following (and hopefully contributing) to his work on http2.

But if we find that I'd be biting off more than I can chew in the allotted time, I'd be happy to go over some of the TODOs in [#4642](https://github.com/nodejs/node/issues/4642)

I really like @jasnell 's insight an

[2016-12-01 07:04] cdnadmin opened #62 "Suggest Name Change for this Effort"
I heard some confusion today during Node Interactive about what exactly was Code and Learn.  Furthermore, @hackygolucky mentions in #60 :

I kinda like something to the effect of: **"Core Contributors"** or **"Core Contrib"** or **"Core Contributor Onboarding"** or **"Core Contrib Training"**

which provide more description, right off the bat!

--Monico

[2016-12-01 13:43] jasnell commented on #60
@cdnadmin I'll definitely be there as one of the mentors and I'm happy to help in whatever way I can!

[2016-12-01 13:48] jasnell commented on #60
I have created a new code-and-learn label in the core repo to attach to any PR originating from this event. As PRs are submitted and being reviewed, let's use the label to help keep track so that we can make sure all of the PRs that are opened are quickly reviewed and handled.

[2016-12-01 14:19] Trott commented on #60
@cdnadmin I think changing the error message in #9069 might be a perfectly good first contribution, although it's semver-major and will get more scrutiny than the typical code-and-learn contribution. #4642 might actually be harder than that and is a pretty good example of the shortcomings of `good first contribution` labels on projects. If you can find a TODO that was written by someone who is pre

[2016-12-01 14:19] Trott commented on #60
By the way, @cdnadmin, since you've already got node cloned and compiled, maybe be ambitious and try to do both!  :-D

[2016-12-01 15:06] cdnadmin commented on #60
@Trott i did verify my command line tools, but I have not compiled *yet*  ;-)  But, I am about to try here in a minute.

[2016-12-01 16:02] mcrummey commented on #60
I am going to work on the udp: rinfo is undocumented task

[2016-12-01 16:09] kzurawel commented on #60
Going to work on `process.versions.modules` docs

[2016-12-01 16:31] imyller commented on #60
@jasnell @addaleax Can you please ask contribs on-site to mention Code & Learn in their PR message.  Would help a lot when labeling incoming PR stream.

[2016-12-01 16:36] shiya commented on #60
Going to work on

dns

no arg validation:
dns.lookup(undefined, console.log)
{}
null null 4

[2016-12-01 16:37] anoff commented on #60
I'll pick the `process.nextTick` issue
edit: apparently that's already solved https://github.com/nodejs/node/blob/master/lib/internal/process/next_tick.js#L135

[2016-12-01 16:40] markmachine commented on #60
i'm working on "closed PR to doc the process.platform: nodejs/node#2446"

[2016-12-01 16:49] kingnebby commented on #60
Working: "http docs, and additional apis: nodejs/node#2461 (comment)"

[2016-12-01 17:10] anoff commented on #60
Trying the `childProcess` _expose control channel, so it can be unrefed_

edit: already fixed

[2016-12-01 17:28] stv8 commented on #60
working on `worker.disconnect()` issue

worker.disconnect().once('disconnect', doThis);

After speaking with @sam-github, he suggested that `disconnect()` should return a reference to the worker to allow chaining.

[2016-12-02 05:35] jasnell commented on #60
@imyller ... my apologies I did not see your [comment](https://github.com/nodejs/code-and-learn/issues/60#issuecomment-264221400) until just now...

[2016-12-04 22:58] jasnell opened #63 "Set git fullname and email"
@addaleax / @trott -- In the instructions for getting started, it would be helpful to include the instructions showing how to set a user's full name and email in their git configuration.

[2016-12-04 23:12] addaleax commented on #63
https://github.com/addaleax/code-and-learn-2016/commit/61cdbc41047b2284c6bcabc8766622320b00b097 – works for you? We can try to work on an “official” deck of slides if that makes sense

[2016-12-04 23:13] jasnell commented on #63
Yes! That's exact what I'm looking for.

On Sun, Dec 4, 2016 at 3:12 PM Anna Henningsen <notifications@github.com>
wrote:

[2016-12-06 00:04] addaleax commented on #60
Closing this issue as the event lies in the past now! :)

[2016-12-06 00:04] #60 closed, assigned to nobody

[2016-12-06 00:06] jasnell commented on #60
well... the event does but the work continues! ;-) right about 100 PRs still pending reviewing/CI/landing. This is a good problem to have.

[2016-12-06 21:32] Trott commented on #63
Cool. I'm going to do something similar at http://nodetodo.org/getting-started/

[2016-12-06 21:42] Trott commented on #63
@addaleax I used your text/example with small modifications. If that's OK and no attribution is needed, awesome. If that's Not Cool and there should be some attribution, let me know and it will force me to create an authors file or prior art or something, which I probably should be doing anyway. :-P

[2016-12-07 01:51] addaleax commented on #63
@Trott That’s perfectly fine, do whatever you want with it =) (Also, the example commands are taken from core’s CONTRIBUTING.md, so… credit for those would go to Ben)

[2017-01-24 19:10] hackygolucky commented on #57
@Trott @addaleax Any further thoughts on this? I know Code and Learn takes a lot of explaining when I'm evangelizing it, just from the perspective of folks thinking it's doing more than teaching How to contribute and code especially in Core.

The internal team was also asking about branding--is there a logo for either Code and Learn or NodeToDo? They have the awesome videos from Code and Learn in

[2017-01-24 21:20] Trott commented on #57
@hackygolucky No further thoughts on this other than: "Code and Learn" implies the wrong thing and we would do well to change the name to *something* else...

[2017-01-25 06:02] addaleax commented on #57
Also, no, there’s no logo that I’d be aware of

[2017-01-25 19:56] hackygolucky commented on #62
Yeah, nudging this!

I think **Learning to Contribute to Node.js**[Core]. My feels for Code and Learn is that the focus and its beauty is that it is as much about breaking down the barriers to the contribution process as it is about hooking people into contributing to Node.js Core.

I have had some folks suggest that there's other parts of the Node.js project that could also use this sort of onboa

[2017-01-25 21:19] Trott commented on #62
`Node Merge`?

`Commit To Node`? (Or get cute/Prince-like with `Commit 2 Node`?)

Go ridiculous with `Contributation` or `Contribulation`?

Scraping the bottom of the barrel here: `Node 4 U 2`

(I know someone whose super power is the ability to name things. I might ask them to give this some thought.)

[2017-01-25 21:20] MylesBorins commented on #62
Commit With Node?

On Wed, Jan 25, 2017 at 1:19 PM, Rich Trott <notifications@github.com>
wrote:

--
Best,

Myles Borins

[2017-01-26 06:14] Humuhumu commented on #62
The trick here is to come up with a word/phrase that can stand alone as a distinct descriptor of this effort/program. There are great _describing_ phrases above, but these are all words and phrases that already hold meaning in the Node universe, and could lead to confusion, or could let this program fall into obscurity. It's the _distinct_ aspect that could use a bit of work. As @hackygolucky says

[2017-01-27 19:00] mikeal commented on #62
I'm going to withdraw my earlier view that we need a name change.

While the current name is not very descriptive it actually has the effect of pulling in people who would not otherwise attempt core contributions.

[2017-01-27 19:55] williamkapke commented on #62
I believe this program's biggest attraction is that folks get to interact (in person!) with the core contributors while they do it. I think this REALLY gives them the confidence that they're doing it right and will not get stuck on any snags they can't figure out.

So, if there is a name change- I'd suggest working in something that highlights this.

[2017-03-23 20:15] joshgav opened #64 "Upcoming Code-and-Learns?"
@Trott @addaleax what's the best way to find out about upcoming code-and-learns? Thanks!

[2017-03-23 20:20] mikeal commented on #64
Here's what I have from the budget allocation:

 * 2 international events: NodeConf EU, JSConf.CN
 * Node Interactive 2017
 * 1 SF Code and Learn
 * Budget allocated to send Rich and Anna to all events.

[2017-03-24 03:03] Trott commented on #64
SF-area (Oakland, to be specific) event specifically targeting URMs for attendance is scheduled for Saturday, April 22. Details should be announced/publicized soon-ish. Paging @hackygolucky. Should be on the website soon-ish I think.

In the meantime, I'd love it if any @nodejs/collaborators who think they can make it to the event (to help folks working on getting their first pull request into Nod

[2017-03-24 03:44] addaleax commented on #64
maybe somebody from @nodejs/nodejs-cn knows?

[2017-03-24 03:47] fengmk2 commented on #64
JSConf.CN can contact @xeodou and @goddyZhao

[2017-03-24 04:03] xeodou commented on #64
@mikeal @Trott The JSConf.cn this year, it's on the way, it will happen around July.  And the `code and learn` seems a very cool project, i read the docs but still didn't get into it. Can you guys share more details for me or point out the materials that i can find it out ? If there is an event already happened before can you share more experiences with us, then we can make it happen in China.

[2017-03-24 04:16] addaleax commented on #64
@xeodou Basically, we gather a couple mentors who are active Node core contributors and a number of attendees in a room and guide them to making their first contribution(s) to the Node core codebase itself! So far the events we’ve held at conferences (the ones I was part of were at the Node Interactive confs last year) were a pretty big success I’d say.

There’s also a really cool promo video comi

[2017-03-24 04:28] xeodou commented on #64
That's awesome , thanks @addaleax
I also found the ticket that @hackygolucky host the event at Austin last year. It's a good starter for me look into how it works.

[2017-03-24 12:56] joyeecheung commented on #64
If a code-and-learn at JSConf.CN is gonna happen I will be available as a mentor :) I am based in Hangzhou and our team is probably going to be there this year. I am going to notify other collaborators based in China that I know.

[2017-03-24 13:00] joyeecheung commented on #64
Also I have participated in a previous code-and-learn session (in Austin) so I more-or-less know how it works. @xeodou You can contact me if you want to know about the details.

[2017-03-24 13:19] pmq20 commented on #64
@joyeecheung Feel excited about the news. Please definitely count me in if it was going to happen at JSConf CN this year :-)

[2017-03-24 20:01] Trott commented on #64
For the event on Saturday April 22 in Oakland, so far I only count 3 definite mentors (@addaleax, @bengl, and me) + 1 who might be able to make it, so 3-4 mentors so far.

I think we probably shouldn't do an attendee-to-mentor ratio more than 5:1, so right now we're talking about being able to handle just 15-20 people.

I think the space can hold 60 or 75 people, so ideal is probably about 10 or 1

[2017-03-24 22:45] hackygolucky commented on #64
So, I've reached out to a number of orgs for the SF Code + Learn and I'm waiting to hear back. We've got a registration form created and has been shared with said orgs, but as mentioned above we'll certainly need a gaggle of mentors! Do y'all mind if I open an issue for each separate Code + Learn we are aiming for so we can coordinate individually in each? I know some organization/logistics spans

[2017-03-24 22:49] addaleax commented on #64
Sounds good!

I don’t know in what ways that helped for NodeTogether (and I’d be curious to hear), but maybe things are different for Code & Learn – the pool of mentors to draw from is overseeable in size and they don’t really need to prepare much in advance.

[2017-03-25 07:27] xeodou commented on #64
That's awesome. @joyeecheung  @pmq20
I'll push hard to make it happen in JSConf CN this year, i'll write back when i got any updates.

[2017-04-01 03:17] #51 closed, assigned to nobody

[2017-04-01 03:31] Trott opened #65 "Mentors for April 22 in Oakland, California (US)"
Hi, @nodejs/collaborators! We're having a Code & Learn (help people get their first contribution into Node.js) on Saturday, April 22 in Oakland, California (US).

By my figuring, we'd be best served having about 12 mentors.

Right now, we have 3 definite mentors and 1 probable mentor.

So... if you can get to Oakland that day, and you want to help new folks get going contributing to Node.js core,

[2017-04-01 16:03] Trott commented on #65
Ping @JoeDoyle23

[2017-04-06 11:11] yorkie commented on #64
Count me in, I'm excited with this in China :)

[2017-04-07 20:39] JoeDoyle23 commented on #65
What time are we looking to hold this? I have a previous commitment in the late afternoon, but should be able to help out earlier in the day.

[2017-04-07 22:17] Trott commented on #65
I believe the start time is 10AM. (Right, @hackygolucky?)

[2017-04-10 22:23] JoeDoyle23 commented on #65
Timing works. I'm in!

[2017-04-11 04:19] joyeecheung commented on #64
@xeodou Just saw http://www.bagevent.com/event/455850, looks like JSConf China will be hosted in Shanghai, 15-16 July, right? That's good news since most Chinese collaborators I know live in Shanghai or Hangzhou (1h of train away) :D

[2017-04-11 14:57] xeodou commented on #64
Hi  @joyeecheung

Congrats dude!! You found it, we even didn't ready to lunch it. Yep, it will happen in Shanghai July 15-16. After 5 years, we turn back to Shanghai again, i will be more exciting this year, we would like see more Node.JS guru give some interesting talk.  🚀

[2017-04-11 21:02] Trott commented on #64
Hooray!

@xeodou FYI, the YouTube link on the bagevent.com page for the event doesn't work because there is a trailing `)`.

It's neat to see some folks who I only know from GitHub at a podium and speaking in those videos.
:-D

[2017-04-11 21:26] ofrobots commented on #65
Apologies – I won't be able to join – family stuff in the morning / afternoon.

[2017-04-12 00:52] xeodou commented on #64
Thanks @Trott , fixed.
We are not official publish yet, so i believe there are lots of issue out there, thank you for point it out. ;)

[2017-04-12 07:20] joyeecheung commented on #64
@xeodou Awesome! \o/ (and uh...I am not a dude :p)

[2017-04-12 16:05] TimothyGu commented on #64
I might be able to attend a C&L in Shanghai if it is in July.

[2017-04-19 17:12] williamkapke commented on #65
Dropping this signup link here in case someone else comes here looking for it:
https://docs.google.com/forms/d/e/1FAIpQLSdxMaLiEZ58fVtI0QS1On6mAGjLFQ2tgr35pwCdFVpB34j_Dg/viewform

[2017-04-22 03:53] hackygolucky commented on #65
10am-2pm, drinks and lunch included. Emailing all of the attendees and y'all now as a reminder!

[2017-04-22 18:32] hackygolucky opened #66 "Things needed for most Code + Learn"
We noticed at today's Code+Learn in Oakland that we've been lucky when folks had one or more of these things, and it'd be great to have them consistently:
- thumb drive with node.js install
- thumb drive with xcode
- Code + Learn sign(design and print, can be shipped wherever and budget has already been approved)

[2017-04-22 18:57] Fishrock123 commented on #66
Not everyone is too fond of pluging in USB drives though - would it still be a better plan to have a Wifi router and like, something to serve those over a local network in a better way?

I understand USB drives can be a start and are better than nothing but I'd certainly prefer do it in better ways.

[2017-04-24 16:26] nebrius commented on #66
With the router approach, we could always use something inexpensive like a Raspberry Pi for hosting files. An advantage of the network sharing approach is that there isn't the physical item bottleneck, i.e. multiple people can download from the network at the same time, but not from a physical USB device.

[2017-04-25 05:24] bengl commented on #66
For the node source tree: one person's laptop with a git repo made available to the network with something like `git daemon` should suffice. However, I've seen cases where the local facility-provided WiFi doesn't allow connections between devices connected to the AP. A portable AP (perhaps even just someone's smartphone?) could probably solve this.

Could we have a set of "recommended prerequisite

[2017-05-01 00:13] ChALkeR commented on #65
_Since I got pinged on this_ ;-) — is there anything more that should be done on the issue, or could the issue be closed?

Judging from the dates, the event has passed.

[2017-05-01 00:14] addaleax commented on #65
Thanks for the reminder! Yes, this can be closed now.

[2017-05-01 00:14] #65 closed, assigned to nobody

[2017-05-02 23:21] Trott commented on #1
I think it's safe to close this issue at this point, but if anyone disagrees, please feel free to comment saying so.

[2017-05-02 23:21] #1 closed, assigned to nobody

[2017-05-02 23:21] Trott commented on #39
I think it's safe to close this issue at this point, but if anyone disagrees, please feel free to comment saying so.

[2017-05-02 23:21] #39 closed, assigned to nobody

[2017-05-02 23:22] Trott commented on #40
I think it's safe to close this issue at this point, but if anyone disagrees, please feel free to comment saying so. In the meantime, I'll see about getting the Code + Learn page updated with July details if they're known.

[2017-05-02 23:22] #40 closed, assigned to nobody

[2017-05-02 23:23] Trott commented on #41
I think we're using Google Forms for registration at this point. I like the idea of (free) tickets, though. I'm going to close this, but feel free to comment or re-open if appropriate.

[2017-05-02 23:23] #41 closed, assigned to nobody

[2017-05-02 23:24] Trott commented on #52
I think it's safe to close this issue at this point, but if anyone disagrees, please feel free to comment saying so.

[2017-05-02 23:24] #52 closed, assigned to nobody

[2017-05-02 23:25] Trott commented on #57
Seems like we're sticking with "Code + Learn" for now, for better or for worse. Maybe we can consider a re-brand in 2018, but right now, we have three more events lined up as "Code + Learn" so I imagine we're sticking with it for the rest of the year at least.

I think it's safe to close this issue at this point, but if anyone disagrees, please feel free to comment saying so.

[2017-05-02 23:25] #57 closed, assigned to nobody

[2017-05-02 23:25] Trott commented on #62
I think it's safe to close this issue at this point, but if anyone disagrees, please feel free to comment saying so.

[2017-05-02 23:25] #62 closed, assigned to nobody

[2017-05-02 23:26] Trott commented on #63
I think it's safe to close this issue at this point, but if anyone disagrees, please feel free to comment saying so.

[2017-05-02 23:26] #63 closed, assigned to nobody

[2017-05-03 00:11] Trott opened #68 "JSConf.cn Code + Learn planning and logistics"
Let's figure out how Code + Learn in Shanghai is going to work!

Based on other Code + Learn events,  we should try to schedule it for at least 3 hours. 4 hours is better. If we can schedule for 5 hours, that would be great but I wouldn't expect people to stay the entire time.

* JSConf.cn is July 15 and 16. (http://www.bagevent.com/event/455850)
  * Will Code + Learn be on one of those days? The

[2017-05-03 00:12] Trott commented on #64
JSConf.cn Code + Learn discussion at https://github.com/nodejs/code-and-learn/issues/68. I'm going to close this issue, but if anyone thinks that's not the right thing to do, feel free to comment or re-open.

[2017-05-03 00:12] #64 closed, assigned to nobody

[2017-05-03 02:57] joyeecheung commented on #68
July 15 and 16 are weekends so if C+L happens on those days we would be able to attract more people (and people who are not going to attend JSConf but want to attend C+L). That said we can still do it on the day before/after JSConf if it would distract the JSConf crowd too much, though the turnout would probably be lower if the C+L happens on weekdays.

I think it's OK if @Trott doesn't speak Chin

[2017-05-03 03:14] DavidCai1111 commented on #68
@joyeecheung Sure, count me in :=)

[2017-05-03 05:31] TimothyGu commented on #68
I will be in Shanghai during the entirety of July as well, so let me know if there is anything I can help with. I do speak both Mandarin and English (and FWIW I understand [Shanghainese](https://en.wikipedia.org/wiki/Shanghainese)), though I'm more confident in English than I am in Mandarin these days, especially when it comes to programming terms.

[2017-05-03 06:08] Trott commented on #68
I've added a mentor list to the original post above.

@TimothyGu Considering we both live in California, it will be somewhat strange to meet you for the first time on an entirely different continent. Looking forward to it.

[2017-05-03 12:55] xeodou commented on #68
Hey Guys

I can give some updates from JSConf China side. Yeah, we are very happy the C+L can be part of the program. The venue we booked now doesn't have too much space for a workshop, but we already check another meeting room at the same location, it should be able fit 200 people. And i'm trying to get the place.
About the date, i would prefer the 2nd day afternoon of the conference, i already h

[2017-05-03 18:51] bengl commented on #68
I've mentored at almost every C+L and I'd like to continue that trend, if it's helpful/possible/reasonable (and if there's budget for it).

[2017-05-04 06:00] Trott commented on #68
/cc @firedfox @JacksonTian

[2017-05-04 06:35] TimothyGu commented on #68
@xeodou As a Node.js collaborator attending JSConf.cn, should I purchase a ticket from bagevent.com through the usual route as well?

[2017-05-04 06:51] DavidCai1111 commented on #68
@xeodou +1

[2017-05-04 07:03] JacksonTian commented on #68
Hi @Trott , Count me in too.

[2017-05-04 12:11] joyeecheung commented on #68
@xeodou If we use the ticket platform that JSConf China uses, will people who don't attend JSConf China be able to register? Like opening a special scheme for C+L only?

[2017-05-04 16:04] Trott commented on #68
@bengl I _think_ budget would have to be requested from the Node.js TSC to come out of their travel budget, but I'm not 100% sure about that. @hackygolucky or @mikeal would probably know.

[2017-05-06 10:04] pmq20 commented on #68
@Trott Thanks for organizing the event, please count me in as a mentor. I am not quite sure what I need to prepare. Do I need to prepare a presentation or just need to be there on time to answer questions?

[2017-05-06 21:32] Trott commented on #68
@pmq20 No preparation needed.

If you happen to come across issues in Node.js that might be good for a first-time contributor, making a note of it would be great.

[2017-05-09 03:51] xeodou commented on #68
**Updates for venue**

The venue we rent for conference have a large space in the middle building. We can use it for free which has 50 ~ 80 capacity. Pic see here
![image](https://cloud.githubusercontent.com/assets/914595/25834590/dd566bfc-342d-11e7-9274-44b83a49b06f.png)

So we will save a lots of money for the C+L event, if the event is really hot we can consider add another one  in the morning.

[2017-05-09 09:25] joyeecheung commented on #68
Also remember that there could be a very low chance that GitHub might get blocked during the C+L (I mean, who knows, The Wall has its own way of deciding when to do stuff like this ¯\\_(ツ)_/¯). If something like this happens, I can provide a proxy for people who don't know how to get pass the wall as long as there aren't too many clients, because I am not sure how the wall detect suspicious server

[2017-05-09 13:28] addaleax commented on #68
@xeodou Note that the Foundation has a small budget for this event – if you have any questions about that, @hackygolucky is the one to talk to. :)

[2017-05-09 15:57] gibfahn commented on #68
I'd like to help out with this if possible. I'll need to work out the logistics for travel/budget etc.

I speak *some* Chinese...

[2017-05-09 16:44] xeodou commented on #68
That's cool. Thanks @addaleax  I will talk to  @hackygolucky directly.

@joyeecheung  I don't think that could be an issue for us. I guess most of the people have the way to access the website that are not existing in China if we provider a proper internet connection. But that's for the backup plan. ;)

[2017-05-14 09:05] XadillaX commented on #68
I think I can have a try then.

[2017-05-15 12:40] addaleax commented on #68
@xeodou you might be the best person to ask, do you know for sure whether we need a visa to be there or not?

[2017-05-15 14:11] joyeecheung commented on #68
addaleax  FWIW, there might be exceptions but the visa thing is usually mutual, so I am guessing if a Chinese citizen like me needs a visa to enter Schengen Area and the U.S., citizens from those places would need a visa to enter China as well? Of course @xeodou should be more familiar with this stuff than I am :)

[2017-05-15 22:59] gibfahn commented on #68
I think a [Tourist (L) visa](https://www.travelchinaguide.com/embassy/visa/tourist.htm) should be enough, costs about £85 in London. You need to give hotel and flight confirmations as part of the application. I don't _think_ you'd need a business visa...

[2017-05-16 00:11] Trott commented on #68
I am most definitely not an expert on such things, but the same site that @gibfahn linked to and other sources seem to indicate that there's no visa requirement from a number of countries (including Germany and the United States) if your stay is less than 144 hours and if you do not leave Shanghai. https://www.travelchinaguide.com/embassy/visa/free-transit-144hour.htm

[2017-05-16 01:12] XadillaX commented on #68
Hey @Trott, may I be a mentor? though I'm not in core.

[2017-05-16 01:50] joyeecheung commented on #68
@Trott I think that one is for layovers...? Although that works too if you do travel to a third country.

[2017-05-16 02:01] Trott commented on #68
@XadillaX It would probably be a good idea to get a commit into core before the event so that you can help people with things like commit message requirements or how to run the linter without having to run all the tests first. One commit is enough, in my opinion. If you need a quick/simple task so that you can go through the process, check out http://nodetodo.org/getting-started/.

/cc @addaleax

[2017-05-16 02:02] Trott commented on #68
@joyeecheung Argh! I guess I better get to work on getting a visa then...

[2017-05-17 04:54] xeodou commented on #68
for @addaleax  @gibfahn  and the others might interesting about the visa issues

In China we have a new policy citizen from 51 counties can get a 144 hours (**which is 7 days**) visa, for several regions in China, for example if you go to Shanghai ,you will be able stay at Shanghai, Jiangsu, Zhejiang (It's already a big place in China) for 7 days without any problems.

see more at the immigration

[2017-05-17 04:57] xeodou commented on #68
You can buy a flights from you country to Shanghai and make a connection at Japan, Hong Kong ect when you back to your country.

[2017-05-17 04:59] xeodou commented on #68
By the way @Trott and the other folks,   if you need a invitation letter from me , i'm very pleasure to do this. We give the letter to help people apply visa to China without any issues.

[2017-05-20 09:32] yorkie commented on #68
Sorry for missing this message @Trott, count me in, that's my pleasure :)

[2017-05-30 15:03] makara commented on #68
Hi @Trott,

I'm one of the organizers. I didn't know you were discussing here; let me answer your questions with some more details:

As @xeodou mentioned we'll be able to host it during the conference, so it will be one of the 2 days, and regarding the program there are a few possibilities:

- As @xeodou said we have a separate place that can hold around 50 people. Time slots can be:
    - 2 to 3

[2017-05-31 23:56] Trott commented on #68
I think 3 hours is probably a minimum. 4 hours is better.

I think about 5 attendees per mentor is about right, so the 50-person event is probably the better option.

Budget is definitely something I don't handle. @hackygolucky: Can you help with that information?

Code + Learn will help you get started with Node.js core contributions. Experienced contributors help guide you through your first com

[2017-06-01 01:19] joyeecheung commented on #68
@makara Also there is [a post on the Node.js foundation blog](https://medium.com/the-node-js-collection/code-learn-learn-how-to-contribute-to-node-js-core-8a2dbdf9be45) that could probably give you more information on this event (there is even a video!)

[2017-06-01 13:43] makara commented on #68
Thanks guys; that looks great.

- Regarding the budget, I thought you know because @xeodou seems already have an idea; We'll check with him.
- It sounds an afternoon is the best option. We'll move forward assuming this.
- Let me know if you need any help, like the hotel address or invitation etc. It'd be also helpful if you could collect all the mentor names in a list and put some notes like who n

[2017-06-01 18:52] Trott commented on #68
According to @hackygolucky, she's been coordinating budget stuff with the JSConf.cn organizers (she didn't tell me names, though) so, yes, hopefully that's all being handled between the organizers and the Node.js Foundation.

🎉

The hotel address would be great. (If you want to move to email, I'm rtrott@gmail.com.)

I believe most of the mentors reside in China. (@joyeecheung @DavidCai1993 @Jackso

[2017-06-08 06:23] cocoyu commented on #68
Hi all, I'm also the organizer of JS Conf China.

1. We are putting the C+L workshop on our website early next week. Please provide the following info this week.
- [ ] a brief introduction of the workshop in English (and Chinese if possible)
- [ ] profile photo and short bio of the workshop organizers/ mentors

2. Please confirm the mentor list is correct, we'll send the conference ticket code to

[2017-06-08 07:27] TimothyGu commented on #68
FWIW my Chinese name is Tiancheng Gu (顾天骋).

[2017-06-08 13:35] XadillaX commented on #68
@cocoyu I think

+ Khaidi Chu @XadillaX i@2333.moe

would be fine to me. My Chinese name is 朱凯迪 and nickname is 死月.

[2017-06-08 14:53] joyeecheung commented on #68
@cocoyu My Chinese name is 张秋怡. BTW @JacksonTian is one of the announced speakers (朴灵).

[2017-06-08 20:02] Trott commented on #68
Very brief introduction of Code + Learn:

(@addaleax and @hackygolucky: Feel free to rewrite or amend the above in any way you wish.)

EDIT: Here's the page with description from the last Code + Learn if it helps: http://events.linuxfoundation.org/events/archive/2016/node-interactive/extend-the-experience/codeandlearn

[2017-06-08 20:28] Trott commented on #68
Because there are so many mentors, perhaps we can use the Node.js Foundation logo as a photo and provide a list of names as the bio text? (@hackygolucky: Do you know if this would violate any rules concerning the use of the logo?)

[2017-06-08 20:33] Trott commented on #68
Maybe something like this? Order of mentors is unimportant, I think, so feel free to order however you think is best.

<img width="172" alt="" src="https://user-images.githubusercontent.com/718899/26949343-766c2d1c-4c4e-11e7-8cea-5bbda878ca00.png">
Code + Learn mentors will include the following contributors to Node.js core:

- Anna Henningsen
- Rich Trott
- 张秋怡
- David Cai
- Timothy Gu
- Bryan En

[2017-06-12 09:44] pmq20 commented on #68
@cocoyu Thanks. My email is correct, with Chinese character name being 潘旻琦 in case of need.

[2017-06-20 14:42] XadillaX commented on #68
@cocoyu Do we still need to provide some brief introduce now?

[2017-06-21 06:20] cocoyu commented on #68
I think we go it already, thanks!

[2017-06-23 22:20] bengl commented on #68
Just to be clear: I have a flight, hotel and a visa, so I'm 100% in. :) (i.e. you can remove the question mark from my handle)

[2017-06-24 08:17] TimothyGu commented on #68
@cocoyu I'm one of the mentors but I don't think I've yet received a conference ticket code (as you mentioned you would send in https://github.com/nodejs/code-and-learn/issues/68#issuecomment-307010485). Sorry for rushing you but just wanted to make sure I'm not the only one with this condition :)

[2017-06-26 09:46] cocoyu commented on #68
My colleague will send out the tickets this week, cheers!

[2017-07-12 08:39] xeodou commented on #68
Hey @Trott  Do we already prepare list of small issues , so every team can work on during the workshop ?

[2017-07-12 13:13] Trott commented on #68
@xeodou Yes, I have issues prepared.

[2017-07-12 13:18] Trott commented on #68
Will there be some kind of internet connection for Code + Learn attendees? (An email today indicates that there would not be Wi-Fi at the venue.)

[2017-07-13 02:56] cocoyu commented on #68
Hi, we do have wi-fi for all the speakers, workshops and staff.

[2017-07-13 05:27] xeodou commented on #68
@Trott We have internet, but i can't promise the speed. So if we required pull a town of packages, we can ask them prepare them before the workshop.

[2017-07-13 05:50] TimothyGu commented on #68
Just a N.B. for everyone coming over from abroad: Generally for package downloading, domestic mirrors are preferred due to the uhm special Internet conditions in China.

Taobao provides mirrors in China for Node.js and npm: https://npm.taobao.org/

Tsinghua University provides mirrors for a bunch of Linux distros and package managers, include Debian, Ubuntu, Homebrew: https://mirror.tuna.tsinghua.

[2017-07-13 06:17] gibfahn commented on #68
@TimothyGu is the Taobao mirror a full one (i.e. it contains everything)? How long does it take things to get into it from npmjs.org?

Really useful info btw, do you have any articles/resources with more information? Maybe something we could document in nodejs.org

[2017-07-13 06:19] XadillaX commented on #68
@gibfahn yeah it's a full mirror. it sync every 15 minutes (or some interval other? I'm not sure)

If you download a package that hasn't synced yet, mirror will sync that package immidiately.

[2017-07-13 06:29] TimothyGu commented on #68
@gibfahn Yep it is. The website says "同步频率目前为10分钟" so 10 minutes, but you can actually [manually request a resync](https://npm.taobao.org/sync/pug) too. Can't say I've seen any articles relating to mirrors in China, and I mean this information is pretty specific to China so not sure if nodejs.org is the best place for that. I've created https://github.com/TimothyGu/survive-in-china though, will ad

[2017-07-13 06:57] gibfahn commented on #68
We have a bunch of guides in [docs/guides](https://nodejs.org/en/docs/guides/) talking about how to do things in Node. As China presents a unique challenge to Noders, I think a guide to using Node in China might be very helpful. I notice that none of the existing guides have been translated into Chinese yet (https://nodejs.org/zh-cn/docs/).

Just judging by the issue tracker, there's clearly a lar

[2017-07-13 08:13] joyeecheung commented on #68
Right now cnpmjs.org can sync with npmjs.org in near-realtime because it is subscribed to the npm change stream. It uses a server in Singapore to relay the traffic between China and U.S.. @fengmk2 knows more about the details.

[2017-07-13 08:23] fengmk2 commented on #68
According the sync log https://r.cnpmjs.org/alcedo-ui/sync/log/3749013 , sync delay between cnpmjs.org and npmjs.org is below 10s.

I think it's the fastest npm registry mirror of the world.

[2017-07-13 08:24] joyeecheung commented on #68
BTW the whole cnpm solution is open sourced: https://github.com/cnpm/ For example, see https://github.com/cnpm/cnpmjs.org/tree/master/sync on how the synchronization works

[2017-07-13 10:18] joyeecheung commented on #68
I believe completing these steps before the workshop will save most of the bandwith for attendees (gonna use Chinese here):

1. 安装编译器与构建工具
    * Linux
        * gcc 和 g++ 4.9.4 或更新的版本（或 clang 和 clang++ 3.4.2 或更新的版本)
        * GNU Make 3.81 或更新的版本
        * Python 2.6 或 2.7
    * Mac:
        * [Xcode](https://developer.apple.com/xcode/) 和最新的 Xcode Command Line Tools (`xcode-select --install`)

[2017-07-13 14:15] xeodou commented on #68
Cool. Thanks @joyeecheung  will send the email to the workshop attendees tonight.

[2017-07-15 01:37] bengl commented on #68
@xeodou Will power strips be available? Compiling node can often drain one's battery 😄

[2017-07-16 02:04] Trott commented on #68
@nodejs/collaborators If anyone remote wants to help out, it would be great if someone or someones could watch the issue tracker, label issues that come in as `code-and-learn`, provide code reviews in near-realtime, and (when appropriate) kick off CI jobs. Let me know if you plan on doing that, and let's keep in touch in IRC in case anything comes up!

If anyone at JSConf.cn wants to find me befor

[2017-07-16 02:10] Trott commented on #68
For the remote help I asked for above:

The workshop starts at 14:10 Shanghai time (CST) which is:

Location | Local Time | Time Zone | UTC Offset
-- | -- | -- | --
New York (USA - New York) | Monday, July 17, 2017 at 2:10:00 am | EDT | UTC-4 hours
San Francisco (USA - California) | Sunday, July 16, 2017 at 11:10:00 pm | PDT | UTC-7 hours
Berlin (Germany - Berlin) | Monday, July 17, 2017 at 8:10:0

[2017-07-16 02:17] gireeshpunathil commented on #68
@Trott - I will keep a watch. Will there be any special `tags` in the issue that indicate they emanate from the conference? or it is un-necessary?

[2017-07-16 02:41] Trott commented on #68
@gireeshpunathil Since the people opening the PRs don't have the ability to add labels, they won't have any special tags/labels. We'll probably ask them to mention "Code + Learn" in the PR, though.

[2017-07-16 02:42] Trott commented on #68
@gireeshpunathil Also, THANKS!!!!

[2017-07-16 02:42] Trott commented on #68
(Also, I listed the start time above, but PRs probably won't start coming in for at least a half hour, and probably more like an hour, after starttime.)

[2017-07-16 07:58] bengl commented on #68
super helpful https://github.com/Microsoft/nodejs-guidelines/blob/master/windows-environment.md#resolving-common-issues

[2017-07-18 05:28] TimothyGu commented on #68
I guess we can close this now. It was a blast seeing everyone there!

[2017-07-18 05:38] Trott commented on #68
Thanks, everyone! It was an amazing experience for me. I hope it was fun and useful for everyone else!

[2017-07-18 05:38] #68 closed, assigned to nobody

[2017-07-18 05:39] jasnell commented on #68
Sounds like it was a great event! Thanks all!

[2017-07-18 16:49] jasnell opened #69 "Mentors for Code-and-Learn @ NodeConf EU (Nov 6)"
@nodejs/codeandlearn (and in particular @Trott and @addaleax) ...

@mcollina and I are planning to run a Code-and-Learn event as part of the NodeConf EU conference in Ireland on November 6th. We're looking for core contributors to help mentor. We're looking to have about 200 people attending the conference so we could end up with a large number attending the Code-and-Learn.

[2017-07-18 17:38] addaleax commented on #69
Count me in – I think @hackygolucky has been planning on having both @Trott and @addaleax there for exactly that anyway.

[2017-07-19 03:05] Trott commented on #69
Yes, what @addaleax wrote: I've been 100% planning on being there.

[2017-07-19 16:15] refack commented on #69
Nov 6 is my bday 😊  ... I'd love to come, pending visa issue resolved.

[2017-07-19 18:18] joyeecheung commented on #66
"recommended prerequisites to download" that I have listed in https://github.com/nodejs/code-and-learn/issues/68#issuecomment-315036991 for code-and-learn in Shanghai, I believe this worked good enough:

1. Install compilers and build tools
    * Linux
        * gcc and g++ 4.9.4 or newer versions（or clang and clang++ 3.4.2 or newer versions)
        * GNU Make 3.81 or newer versions
        * Pyt

[2017-09-09 16:58] Trott opened #70 "Mentors for Code + Learn at Node Interactive 2017"
- [x] @addaleax
- [x] @Trott
- [x] @MylesBorins
- [x] @Qard
- [x] @jasnell
- [x] @targos
- [x] @sam-github
- [x] @gibfahn
- [x] @joyeecheung
- [x] @tniessen
- [x] @TimothyGu
- [x] @jkrems
- [x] @mhdawson
- [x] @bengl
- [x] @BridgeAR
- [x] @mcollina
- [x] @Fishrock123
- [x] @lance
- [x] @ofrobots
- [ ] You?
- [ ] You?
- [ ] You?

/cc @nodejs/collaborators

[2017-09-09 16:59] MylesBorins commented on #70
o/

Will show up, I promise

On Sep 9, 2017 6:58 PM, "Rich Trott" <notifications@github.com> wrote:

[2017-09-09 17:02] Trott commented on #70
Code + Learn will begin at 9 AM on Friday October 6, one day after the main conference is over. It will run until 12:30 PM. There will be an hour for lunch before the Collaborators Summit starts after that.

[2017-09-09 17:18] Qard commented on #70
I'll be there! 💪

[2017-09-09 17:24] jasnell commented on #70
I will be there.

[2017-09-09 17:55] targos commented on #70
I will be there

[2017-09-09 19:28] sam-github commented on #70
I will be there.

[2017-09-09 19:50] gibfahn commented on #70
Me too

[2017-09-09 22:49] tniessen commented on #70
I will be there

[2017-09-10 02:26] TimothyGu commented on #70
I'll be there!

[2017-09-10 03:39] hybrist commented on #70
I'm in!

[2017-09-10 03:40] joyeecheung commented on #70
I'll be there as well

[2017-09-10 04:14] XadillaX commented on #70
where is it?

[2017-09-10 04:17] joyeecheung commented on #70
@XadillaX Vancouver, Canada (4-6 Oct.) http://events.linuxfoundation.org/events/node-interactive/

[2017-09-11 22:19] mhdawson commented on #70
I'll be there.

[2017-09-22 20:46] Trott commented on #70
@HackyGoLucky What's the capacity of the room? (Trying to plan for maximum number of attendees.)

[2017-09-22 20:47] Trott commented on #70
So, something I'd like to see happen in the days leading up to Code + Learn and maybe have one or two active people watching for on the day of: Let's get the CI to green. @nodejs/build @nodejs/testing Any volunteers to aggressively pursue build and test issues as they pop up in the next few weeks? Any @nodejs/build volunteers to be at the ready to fix any problematic CI hosts during the event?

[2017-09-22 21:00] bengl commented on #70
I'm in.

[2017-09-22 21:36] refack commented on #70
You know I am 💂

[2017-09-22 22:01] BridgeAR commented on #70
I will be there as well

[2017-09-28 02:54] Trott commented on #70
I've got 156 tasks so far. @hackygolucky What's the capacity of the room? Trying to figure out if that will be enough or if I need to pull together some more.

[2017-09-28 06:50] mcollina commented on #70
I’ll be there

[2017-10-05 15:30] Trott commented on #70
I have 157 first-time-contribution tasks.

The room holds 350.

Organizers said there are currently 300 people signed up.

I'll try to come up with another &lt;gulp> 143 tasks today. If anyone has suggestions that will generate at least a few dozen tasks, let me know.

Whee!!!!

[2017-10-05 15:43] bnoordhuis commented on #70
I don't know if it's well-suited for first-time contributors, but updating on a per-file basis files in `src/` to use the new V8 APIs that take a `Local<Context>` (e.g. `ToString()`, `ToObject()`, `Object::Get()` and `Object::Set()`, etc.) would give you an additional ~60 tasks.

If @addaleax is there, she can help explain the code patterns.

[2017-10-05 16:00] Trott commented on #70
@bnoordhuis Great, thanks. We can ask at the beginning if there are people who are comfortable with C++ and if they might want their first contribution to be a (simple, I assume) C++ change.

[2017-10-05 16:07] Trott commented on #70
@bnoordhuis @addaleax Is there anything I can `grep` for that would give me the list of 60 files that could potentially be updated?

[2017-10-05 16:29] bnoordhuis commented on #70
Not easily, I'm afraid, but the methods below are used in src/ - if their call sites don't pass a context as the first argument, they should be updated.

[2017-10-05 17:27] Trott commented on #70
Update: I pulled together another ten or so tasks, and then @addaleax comes along and drops an automated way to find 148 good tasks. So: PROBLEM SOLVED! Thanks, Anna!

[2017-10-05 17:41] addaleax commented on #70
In case anyone is wondering, it’s implementing a lint rule (https://github.com/addaleax/node/commit/2bdace784990012243ba1089363394401734c737) by either removing `message` arguments to `assert` functions if they are constant literals or making them contain more useful information (e.g. turning them into template literals)

[2017-10-05 17:58] Trott commented on #70
Next issue: More attendees means we need more mentors! I think C+L works best when we have 1 mentor for every 5 attendees. Because it really does get just that busy. And we're nowhere near that.

So...time to ping some folks who haven't said they'd mentor but who I know are here:

@Fishrock123 (he just told me he'd likely be there, so I'll add him to the list, but pinging anyway)
@trevnorris
@luca

[2017-10-05 17:59] cjihrig commented on #70
I have an early flight, and will be gone by the time of the C+L.

[2017-10-05 17:59] addaleax commented on #70
I think @hashseed or some other googler was thinking about it?

[2017-10-05 18:06] Trott commented on #70
@yosuke-furukawa

[2017-10-05 19:42] refack commented on #70
If all else fails, I can IRC assist. We can open an IRC or slack channel.

[2017-10-05 23:05] lance commented on #70
Count me in as well

[2017-10-05 23:13] ofrobots commented on #70
I'll be there
On Thu, Oct 5, 2017 at 4:05 PM Lance Ball <notifications@github.com> wrote:

[2017-10-06 17:46] boutell commented on #70
I'm working through some of this here:

https://github.com/nodejs/node/issues/15864

And I've run into a discrepancy I'd like to understand re: the New method.

In v8.h, for the Date object, things look like so:

[code]

So we want to use the maybe version, which takes a context rather than an isolate. OK.

But for NumberObject, we have:

[code]

And there's no version that takes a context.

This

[2017-10-06 18:32] boutell commented on #70
@ofrobots came by and explained that some of the factory/constructor methods can never fail and thus don't need the change.

[2017-10-06 19:17] hashseed commented on #70
I didn't think I would be a suitable mentor so I didn't show up...

Some factory methods do not throw and cannot fail, yes. Some API functions take a context because they might throw, and we need to construct an Error from the given context.

[2017-10-06 23:29] richardlau commented on #70
I'm not at NINA but have reviewed a few of the pull requests that have been raised -- Should nits like commit messages (subsystem, line lengths, etc.) be called out for first time contributors?

Also for reviewers I'm seeing similar issues with the changes to use `common/fixtures` where I've been recommending to use `fixtures.path`/`fixtures.readKey`/`fixtures.readSync` where appropriate.

[2017-10-06 23:40] gibfahn commented on #70
I'd personally say asking new contributors to `commit --amend` and `push --force` is likely to be more pain than it's worth. I'd just leave a comment on landing saying that you changed the commit message to `whatever`, and maybe they could check out the commit message guidelines next time.

I think that is something we should ask people to change. I've been using `Comment` rather than `Request Cha

[2017-10-07 00:25] gibfahn commented on #70
@nodejs/collaborators if you left a MacBook USB-C charger in the venue, Cassandra has it, and she'll be around tomorrow if you would like it back!

[2017-10-07 00:34] lance commented on #70
@Trott thanks for organizing this. It was a lot of fun and such a great feeling to enable so many people at one time!

[2017-10-07 01:00] lance commented on #70
I'm noticing a number of the pull requests were closed by the authors for minor things such as not following the commit guidelines, or for no clear reason at all. Here is an [example](https://github.com/nodejs/node/pull/15803). It's a shame that the work in these PRs won't land. Does it make sense to reopen them? Or just let them go?

[2017-10-07 04:01] gibfahn commented on #70
I assume most people closing PRs are doing it either by mistake, or because they think you have to open a new PR if you change something.

The first can hopefully be fixed by asking if they meant to close the PR, the second can be mitigated by saying "please fix by pushing another commit to your branch" if you request changes.

It's possible people close them because they don't want to deal with f

[2017-10-07 05:43] Trott commented on #70
220+ pull requests later...thanks, everyone! Closing...

[2017-10-07 05:43] #70 closed, assigned to nobody

[2017-10-08 17:06] gibfahn commented on #70
I've been assigning issues to myself so I can land them in bulk. For anything with a Green CI I'm just doing:

#### Test all files changed in the last commit:

[code]
#### Test all files changed since upstream branch (e.g. `upstream/master`):

Useful for multiple commits.

[code]

Mostly leaving these here so I can find them again in the future, but they might be useful for someone else.

[2017-10-08 19:17] refack commented on #70
Could everyone who's actively landing stuff please self-assign, so we don't do double work.

[2017-10-18 05:26] joyeecheung opened #71 "Write a guide on environment setup, troubleshooting, and preparations (e.g. downloads)"
We should collect these information in a central place (maybe a document in this repo) and send it out to participants before the event.

Also a FAQ covering things like

* I am seeing some unrelated test failures, is that OK?
* What does it mean to replace fixturesDir with fixtures?
* Which branch should I target?
* Reviewers asked me to rebase, what does it mean?
* etc.

would be very useful.

[2017-10-18 05:30] joyeecheung commented on #71
FTR I am writing one (and trying to do a screencast on the build & test & git stuff), but I've got my hands pretty full right now so probably won't finish them anytime soon. Anyone willing to do it can take it now.

[2017-10-18 08:20] hiroppy opened #72 "Code And Learn at NodeFest 2017"
Hi!

We will hold [NodeFest](http://nodefest.jp/2017/) which is the largest Node.js conference in Japan.
I’m one of the organizers this year.
The team members are @yosuke-furukawa, @watilde, myself and some other great nodeschool staff.

We would like to open code-and-learn-jp on NodeFest and support the contribution to nodejs/core.

Please feel free to suggest any contribution areas for the parti

[2017-10-18 08:32] joyeecheung commented on #72
cc @Trott @addaleax

Also, I will be there. Happy to help out with whatever needed.

[2017-10-18 08:40] ronkorving commented on #72
Of course I will be there 👍

[2017-10-18 08:57] vsemozhetbyt commented on #72
Possible case in tests: https://github.com/nodejs/node/pull/16243#discussion_r145045432 + next comment: check `else if` by `if` replacements when a previous `if` contains `return`. Also check `else` eliminations on similar condition.

[2017-10-18 13:59] hiroppy commented on #72
@vsemozhetbyt Thank you for your information!

[2017-10-18 14:09] watilde commented on #72
Note: Here is the last time we had - https://github.com/nodejs/code-and-learn/issues/58

[2017-10-18 14:25] jasnell commented on #72
This is awesome. Keep in mind that we're also running a small code-and-learn at NodeConf EU at the beginning of November so some of the tasks may adjust after that. We should likely coordinate a bit in advance to make sure we don't end up duplicating any effort! :-) (I totally wish I was able to get to Tokyo this year)

One possible set of tasks that I can suggest for new contributors who are bit

[2017-10-18 14:30] apapirovski commented on #72
Another potential suggestion is replacing `assert.throws(fn, common.expectsError(err));` with `common.expectsError(fn, err);` It's another thing I would like to ideally introduce an eslint rule for (already have it written) but there are currently a ton of instances where we use the former.

I think that's pretty similar in difficulty to the change that was done at Node.js Interactive this year.

[2017-10-18 15:13] AndreasMadsen commented on #72
A simple thing is removing the redundant `+` from `+conf.n` in the benchmarks. If the values are integers in the `bench(main, conf)` object they will be integers in the `main(conf)` object too.

example: https://github.com/nodejs/node/blob/master/benchmark/assert/deepequal-object.js#L30L31

[2017-10-19 09:01] hiroppy commented on #72
@jasnell @apapirovski @AndreasMadsen Thanks.🙌 I try to summarize that information in Gist.
You should come to Nodefest2017!!

[2017-10-19 14:48] MylesBorins commented on #72
I can help!

Any interest in running a values session similar to what we did at node
interactive?

On Oct 19, 2017 5:01 AM, "Yuta Hiroto" <notifications@github.com> wrote:

[2017-10-19 14:56] apapirovski commented on #72
@abouthiroppy For my suggestion above, I created a [gist with an eslint rule](https://gist.github.com/apapirovski/b8d0803e6bd9938d29c207d50717eef3) that will let you find all instances of `assert.throws(fn, common.expectsError(err));`.

[2017-10-20 00:47] hiroppy commented on #72
@MylesBorins Thanks!!  yep, but I don't know the values session of node interactive.  Would you give me this information?

@apapirovski wow, thank you so much 🙇  I'll use it!

[2017-10-23 21:08] seishun commented on #72
I'm on the fence about attending (concerned about the cost mostly).

[2017-10-30 01:24] Trott commented on #69
Ping @nodejs/collaborators: Who is coming to NodeConf EU and willing to be a mentor at the Code + Learn there? Will be smaller than the one at Node Interactive, but it would still be great if we could have a good 20 mentors ideally.

- [x] @jasnell
- [x] @mcollina
- [x] @addaleax
- [x] @Trott
- [x] @lucamaraschi
- [ ] You?
- [ ] You?

[2017-10-30 01:26] jasnell commented on #69
Ping @nodejs/collaborators ... :-)

[2017-10-30 01:26] Trott commented on #66
I think this can be closed, but if anyone thinks that's wrong and there's still stuff to work out on this, feel free to comment or re-open!

[2017-10-30 01:26] #66 closed, assigned to nobody

[2017-10-30 01:27] Trott commented on #71
Ping @nodejs/collaborators: If anyone wants to write something like this up and put it somewhere linkable that would be great. Speaking just for me, a pull request adding a page like this to https://github.com/Trott/nodetodo would be super-duper welcome.

[2017-10-30 08:11] benjamingr commented on #69
Sounds awesome, I would have loved to attend - I'll do my best to make the next one.

Thanks for doing this @Trott @jasnell @addaleax !

[2017-10-30 08:20] mcollina commented on #69
I can volunteer @lucamaraschi.

[2017-10-30 08:20] gibfahn commented on #71
Related: https://github.com/Trott/nodetodo/issues/4

[2017-10-30 17:57] joyeecheung commented on #69
Hi everyone, I would not be able to be there (sadly), but I have a few ideas on the tasks (https://github.com/nodejs/node/issues/16616#issuecomment-340526461), can you consider trying it out in this code-and-learn event? :

1. Ask participants to add a description to the test (the `This tests that....` comment) that they are working on, if there isn't one and they feel confident enough to do that.

[2017-10-30 23:18] Trott commented on #69
@joyeecheung Comment explaining the test seems straightforward and we can do that.

The subsystem metadata is something that might require some discussion with more collaborators. Will comment over in that other issue.

[2017-11-06 13:54] benjamingr opened #75 "Tel Aviv Nov 20th"
I'll be onboarding (hopefully) around 8 people in Tel Aviv as a part of an open source event we've been doing monthly in the last few months.

If anyone is around by any chance and wants to help - any help is appreciated :)

[2017-11-09 05:34] gireeshpunathil opened #76 "Bangalore, November 10th"
I am planning to run a `code&learn` in Bangalore this Friday the 10th, and am expecting contribution from ~10 people. Request your support in hand-holds and reviews, thanks in advance. Some of the changes I have ear-marked are:
 - few typo corrections in docs
 - few string concatenation replacement with template literals
 - few common.mustCall wrappings

Suggestions on any other interesting refact

[2017-11-09 07:12] fhinkel commented on #76
That's great. Thanks so much! I'll try to do a review on Saturday of the PRs.

[2017-11-09 08:05] benjamingr commented on #76
@thefourtheye if you happen to have time :)

[2017-11-11 08:43] fhinkel commented on #76
Thanks for running the Code and Learn @gireeshpunathil. I have time for some reviews. Is there a particular label I can search for?

[2017-11-11 08:44] fhinkel commented on #72
Also, I will be there. Happy to help out with whatever needed.

[2017-11-11 08:59] gireeshpunathil commented on #76
thanks @fhinkel . `code&learn` is the label. PRs #16910 - #16933 , almost continuous .

[2017-11-11 09:00] gireeshpunathil commented on #76
https://github.com/nodejs/node/pull/16910 - https://github.com/nodejs/node/pull/16933

[2017-11-11 10:42] fhinkel commented on #76
Wow, that's a lot! Great to see so many new contributors ❤️ . Thanks so much for organizing @gireeshpunathil. I was able to land a bunch of them, waiting for the CI on a few more. Thanks to @jasnell, @tniessen, @cjihrig, @danbev, and @vsemozhetbyt  for all the reviews 🙏 .

[2017-11-11 16:01] Trott commented on #76
There seem to be a lot of changes in `lib` in these issues. I tend to avoid those for Code + Learn because it can mean people end up making changes that need to be benchmarked, and that can be a bit more than people are prepared to undertake at first.  Hopefully none of these are in hot paths and/or the perf differences of these types of changes are known to be so insignificant that it doesn't mat

[2017-11-11 16:25] Trott commented on #76
Overall, looks really good. Nice job, @gireeshpunathil! Some smaller Code + Learn events have not gone so well. I think @benjamingr has run some good ones too.

[2017-11-12 06:41] gireeshpunathil commented on #76
@Trott - Acknowledged. For the `lib`, I have cautioned people on the significance and sensitivity of the module and recommended to pick up only simple, and obvious changes, if at all. I hope that has been abided by.

@fhinkel - thank you very much for the review, and especially the kind messages you left on the landing, that means a lot to the new co ers I am sure!

Thank you all the mentors who r

[2017-11-12 06:41] #76 closed, assigned to nobody

[2017-11-14 00:40] MylesBorins opened #77 "Taipei Nov 22"
I'll be working with about 35 folks to get their first PRs in

Could use some help with generating content

/cc @Trott

---

We will be working on

### Add missing common.crashOnUnhandledRejection: (all issues use promises or await)

- addons/callback-scope/test-resolve-async.js
- addons/make-callback-recurse/test.js
- addons-napi/test_promise/test.js
- async-hooks/test-promise.chain-promise-befor

[2017-11-14 01:09] gireeshpunathil commented on #77
Not sure these are good for `code&learn` items, but I would like to see:
 - Address all the warnings from the compiler (C/C++) for major platforms
 - Annotate tests for better consumption (problem determination and enhancements)

[2017-11-14 08:02] fhinkel commented on #77
@gireeshpunathil The only warnings at the moment are about `v8::Debug` functions being deprecated. Replacing those is probably not suited for a Code&Learn.

[2017-11-14 09:06] gireeshpunathil commented on #77
Ah, ok. I double-checked the long list of warnings I usually get now, and see a number of warnings, but they are from SSL sources, which we don't have any control of. Thanks for clarifying!

[2017-11-15 15:50] bzoz commented on #71
I've created a Boxstarter script for Windows boxes. PR to include it in Node: https://github.com/nodejs/node/pull/17046

[2017-11-18 06:17] hiroppy commented on #72
Sorry for my late reply.

@seishun I think that Node.js Foundation will help with the cost.
@fhinkel Thanks!

[2017-11-18 06:53] Trott commented on #72
I don't think the foundation typically sends Collaborators to an event simply because it's a Node.js event. It's usually a Collaborator Summit. There have been some exceptions though, like sending particular people to a TC-39 meeting one time.

That said, there's absolutely nothing stopping any Collaborator from *requesting* funds from the TSC for something by opening an issue in the TSC repositor

[2017-11-18 06:54] #69 closed, assigned to nobody

[2017-11-18 06:55] Trott commented on #75
Only other Collaborator I'm aware of in Israel is @jhamhader.

[2017-11-19 08:53] benjamingr commented on #75
@Trott me too - but people travel and I was hoping someone might be around :)

[2017-11-19 14:43] Trott commented on #75
Oh, sure, I just was taking the opportunity to ping them by name, that's all. :-D

[2017-11-19 18:21] benjamingr commented on #75
Anyone has any interesting ideas for PRs for tomorrow? the good-first-issue tag is a little lacking at the moment :)

[2017-11-19 18:52] Trott commented on #75
AFAICT, it's always lacking. If something is legitimately a good first issue, someone or multiple someones do it within a day or two, often within an hour or two. Otherwise, it's a good first issue for someone with a very specific set of skills.

Hopefully @MylesBorins wasn't going to use these for C+L Taiwan this week, but there are two tests still using `common.fixturesDir` so replacing that wou

[2017-11-19 18:57] Trott commented on #75
This probably isn't a change for Node.js core but rather a change for tooling around Node.js core, but if that's fine then maybe: Find the tooling for making the changelog and change things that say "semver-major" to "breaking changes" and "semver-minor" to "new features"? Or at least do that for section headings like https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V9.md#semver

[2017-11-19 18:59] MylesBorins commented on #75
We use changelog maker for generating changelogs

Seems like that would be where that would need to be implemented Rich

On Nov 19, 2017 1:57 PM, "Rich Trott" <notifications@github.com> wrote:

[2017-11-20 09:46] MylesBorins commented on #77
So here are the fixes I'm planning to run and the files they are related to. I only need around 35, so there should be some leftovers for tokyo. It is worth mentioning that there seems to be quite a bit of setTimeouts that are not using common.platformTimeout, perhaps there is a reason for this and I shouldn't get people to update all of these, but it seems like a good way to gather a non trivial

[2017-11-20 09:51] MylesBorins commented on #72
Have we prepared a list of changes for participants to implement?

How many people are we expecting?

[2017-11-20 09:52] yosuke-furukawa commented on #72
I guess 30 - 50 people.

[2017-11-20 09:53] yosuke-furukawa commented on #72
Not yet !! I will create the list asap...

[2017-11-20 09:57] MylesBorins commented on #72
I can help collect some changes after I run the Taiwan code and learn

On Nov 20, 2017 4:53 AM, "Yosuke Furukawa" <notifications@github.com> wrote:

Have we prepared a list of changes for participants to implement?
Not yet !! I will create the list asap...

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/nodejs/code-and-learn

[2017-11-20 11:21] hiroppy commented on #72
## a list of changes for participants 

| TODO|file|line|note|status|
|:-|:-|:-|:-|:-|
|Fix typo|doc/api/util.md|695|occuring||
|Add link of `ECMAScript 2015`|doc/api/buffer.md|2740||
|Add link to `dns.resolve()`|doc/api/dns.md|632||
|Use `common.hasIntl` instead of `typeof Intl`|test/parallel/test-intl-v8BreakIterator.js|6||
|replace Function with Arrow Function|doc/api/util.md|442, 552, 567, 568

[2017-11-20 19:29] Trott commented on #77
Sorry, but please please please do not add `common.platformTimeout()`. It is an anti-pattern in most cases. Please, don't do it.

[2017-11-20 19:31] MylesBorins commented on #77
Thanks for the heads up.

I'll drop those ones.

With that in mind I need about 10 more, any suggestions?

[2017-11-20 19:31] apapirovski commented on #77
A simple one might be replacing `assert.throws(fn, common.expectsError(err));` with `common.expectsError(fn, err);`. There are a ton of those and there's even an eslint rule to help find them: https://gist.github.com/apapirovski/b8d0803e6bd9938d29c207d50717eef3 — let me know if you need any help getting it setup.

[2017-11-20 19:39] Trott commented on #77
Here's an easy one: I believe the `remark-*` directories in `tools` contain external code bases that we're linting. Add `tools/remark-*` to `.eslintignore`.

The following 33 files all have at least once case of string concatenation where template literals might be better. (You'll probably want to take a peek at the files to confirm that these aren't somehow non-trivial or cases where string conca

[2017-11-20 22:50] MylesBorins commented on #77
thanks @Trott added to original comment

[2017-11-20 23:15] Trott commented on #77
I think you should totally go with them for tasks, but be aware that there's probably going to be some coaching needed a bit on the "use template literals rather than string concatenation" task. For example, in `test/abort/test-zlib-invalid-internals-usage.js`, there's this:

[code]

The concatenation across lines is totally fine. It's the concatenation within a line (the `+ os.EOL` stuff) that ne

[2017-11-21 20:25] joyeecheung commented on #72
We can try replacing all the `google.com` or `this.hostname.is.invalid` etc. references in `test/parallel` with configurable variables defined in [internet.addresses](https://github.com/nodejs/node/tree/master/test/common#internetaddresses)

[2017-11-21 20:27] joyeecheung commented on #72
Also there are a few tasks that could be more advanced: find the tests in `test/parallel` that are making actual dns calls, use mocked lookup functions or put those in `test/internet`. Searching for DNS error codes like `EAI_AGAIN` or `ENOTFOUND` in `test/parallel` would yield a bunch of tests that try to work around this even though they are not supposed to work around that.

[2017-11-21 20:37] joyeecheung commented on #72
There is also https://github.com/nodejs/node/issues/17169 , see https://github.com/nodejs/node/issues/17169#issuecomment-346087689

[2017-11-22 02:38] MylesBorins commented on #75
Closing as the 20th has already happened!

@benjamingr how'd it go?

[2017-11-22 02:38] #75 closed, assigned to nobody

[2017-11-22 09:58] benjamingr commented on #75
Went pretty well - translated to 5 PRs and people seemed enthusiastic. I'll report back next month and see who showed up again.

[2017-11-23 06:13] watilde commented on #72
I've added some to https://github.com/nodejs/code-and-learn/issues/72#issuecomment-345667395.

[2017-11-26 07:45] joyeecheung commented on #72
| TODO|file|line|note|status|
|:-|:-|:-|:-|:-|
|Replace `e->ToObject(env->isolate())` with `e->ToObject(env->context()).ToLocalChecked()`|src/node.cc|line 592|
|Replace `e->ToObject(env->isolate())` with `e->ToObject(env->context()).ToLocalChecked()`|src/node.cc|line 754|
|Replace `er->ToObject(env->isolate())` with `er->ToObject(env->context()).ToLocalChecked()`|src/node.cc|line 1485|
|Replace `a

[2017-11-26 07:46] joyeecheung commented on #72
Sorry, accidentally pressed the wrong button

[2017-11-26 07:49] MylesBorins commented on #77
All done and lots of great PRs.

Thanks for helping with review y'all

[2017-11-26 07:49] #77 closed, assigned to nobody

[2017-11-26 07:50] MylesBorins commented on #72
All of the following files have string concatenation that can be replaced with template strings

Refactor instances of concatenated strings to use template strings as long as the result is less than 80 characters (our max line length). Not all instances of concatenated strings need to be replaced, specifically look out for strings that are using concatenation for variables. If you are unsure pleas

[2017-11-26 07:58] hiroppy commented on #72
| TODO|file|line|note|status|
|:-|:-|:-|:-|:-|
|replaced with template strings|
||test/async-hooks/init-hooks.js|||
||test/abort/test-zlib-invalid-internals-usage.js|15||
||tools/doc/json.js|15||
||doc/api/stream.md|767||

[2017-11-26 08:44] devsnek commented on #72
can i just say, you guys are doing fantastic stuff here.

[2017-11-26 09:02] kt3k commented on #72
It was very fun! thank you!

[2017-11-26 11:19] hiroppy commented on #72
@yosuke-furukawa @joyeecheung @MylesBorins Thank you for your help! I was really happy :)

[2017-11-26 11:19] #72 closed, assigned to nobody

[2017-12-15 11:19] yosuke-furukawa opened #78 "Code And Learn on recruit technologies inc"
I have a lesson for OSS contribution in my company (Recruit Technologies).

We don't have a practice to contribute OSS but we would like to take some practices on Code And Learn.
I have some contribution points to refactor test dir.
I think I would be better to notify some contributors get some PRs.

[2017-12-15 11:26] benjamingr commented on #78
When is this? I wouldn't mind helping with reviews for PRs.

[2017-12-15 11:54] yosuke-furukawa commented on #78
this is today (sorry).

I could review and it is ok if you would not help our PRs.

[2017-12-18 03:04] #78 closed, assigned to nobody

[2017-12-18 03:06] yosuke-furukawa commented on #78
Thank you for collaborators review. it is finished. we have created 4 new node.js committer by OSS newbies.

[2018-02-22 21:33] fhinkel opened #80 "Next events?"
We currently don't have anything scheduled. What are the plans for the next Code and Learns? Is there one planned in conjunction with [JSConfEU](https://2018.jsconf.eu/)? Anything happening in the bay area soon?

I'd like to host one in conjunction with ngAtlanta in 2019. Anybody interested in helping me?

cc @Trott @addaleax

[2018-02-22 23:10] Trott commented on #80
As far as official Foundation-sponsored ones go: I don't know if the budget got approved and/or what was in it (even though @hackygolucky ran all that stuff by me and @addaleax--my memory is foggy right now--I might try to search through old email). With the Foundation's Education Coordinator position still vacant, this needs an energetic champion to make stuff happen (or maybe the position will b

[2018-02-22 23:50] benjamingr commented on #80
I'd love to organize another (smallish) event in Israel if anyone is ever around. We have monthly open source events and I'd love to see Node take a more predominant role

[2018-02-23 11:46] mcollina commented on #80
I'm pretty confident we can run another one within NodeConfEu, which will be at the beginning of November (same as last year).

[2018-02-23 19:13] benjamingr commented on #80
What about the collab summit in May?

[2018-05-22 16:06] amitbend commented on #80
Waiting for an event in Israel!

[2018-05-22 16:10] benjamingr commented on #80
@amitbend we've had one since and we're having the next one (small) in June 19th, you are [welcome to attend](https://www.meetup.com/JavaScript-Israel/events/250979710/).

[2018-05-22 16:26] trivikr commented on #80
I'd conducted an informal one at [WebDevCon](http://webdevcon.com/) in April 2018 at Seattle (Amazon's internal Front-end conference).
We're conducting another one at WebDevCon EU in July 2018, but that's also internal to Amazon.
The aim is to conduct an external one (open to all) in Seattle during WebDevCon in October 2018.

[2018-05-22 18:30] Trott commented on #80
For anyone wanting to contribute to Node.js core without waiting for a Code + Learn event they can attend: https://www.nodetodo.org/

[2018-05-22 20:26] amitbend commented on #80
@benjamingr @Trott  Thanks!

[2018-07-12 14:34] BridgeAR opened #81 "Mentors for Code-and-Learn @ NodeConf EU (Nov 5)"
Hey @nodejs/collaborators, on NodeConf EU in Ireland we'll have a Code-and-Learn event and we are looking for further mentors.

Right now we have three mentors and it would be good to have 10 (I expect to have around 50 attendees).

If you come to NodeConf EU, and you want to help new people get involved with Node.js core please leave a comment here. Thanks!

// cc @hackygolucky @addaleax @mhdawso

[2018-07-12 16:19] MylesBorins commented on #81
o/

On Thu, Jul 12, 2018 at 10:34 AM Ruben Bridgewater <notifications@github.com>
wrote:

[2018-07-13 00:09] trivikr commented on #81
In 👍

[2018-07-13 13:12] addaleax commented on #81
Yup, me too! /cc @nodejs/code-and-learn

[2018-07-19 18:02] trivikr commented on #81
NodeConf EU schedule is up at https://www.nodeconf.eu/, and as per the schedule Code&Learn will be on Tuesday November 6th from 2pm-3:30pm and 4pm-5:30pm

[2018-07-19 23:44] Trott opened #82 "Scope of Code + Learn for JS Interactive 2018"
After talking a bunch with @rachelnicole (whose initial idea most of this is, I believe), @bnb, and @addaleax:

Don't know if it would be part of Code + Learn or an event that happened at the same time but was separate, but it seems a slam-dunk to have a help-out-with-the-website session/sprint and/or a help-out-with-translations session/sprint as long as there are knowledgable folks from those ar

[2018-07-20 01:00] trivikr commented on #82
I didn't get the suggestions correctly.
I'm 👍for mentoring in Code+Learn during JSInteractive 2018

[2018-07-20 04:18] gireeshpunathil commented on #82
I wish if we could leverage this code&learn aiming to reduce our backlog of issues in nodejs/node repo,

While it may not be easy to guide first timers to address complex problems,
 - we do have ample time between now and then
 - few of those may have a fast path to resolutions
 - there are good amount of flaky tests that can be helped with
 - there are minor to medium scale feature requests which

[2018-07-20 19:38] zeke commented on #82
Is this strictly an in-person thing?

[2018-07-20 19:44] ZibbyKeaton commented on #82
Likely something to discuss further on, but once we have the schedule and all the materials locked into this, I'm happy to draft up copy around C+L for the JS Interactive website. We could also do a blog post about the event as well to help drive attendance and awareness.

[2018-07-20 22:25] Trott commented on #82
@zeke Yes, or at least it has been in the past. Ignoring the proposed expanded scope here for a moment, the remote/async version (but not Foundation-sanctioned) would be https://www.nodetodo.org/.

[2018-07-20 22:30] mikeal commented on #82
What does "Foundation-sanctioned" mean in this context?

The tool was built by project committers for the project. Those contributors make up the technical side of the foundation. Is there some sort of blessing or support you'd like to see from the foundation that you haven't received?

Ownership is sort of a weird construct here because contributors to the project always retain ownership of their

[2018-07-20 22:47] Trott commented on #82
@mikeal That's a really good question. Here's why I said that.

Sometimes James or Myles (or you!) will say or tweet something, and people will attribute the sentiment to Node.js as a whole. I've done a fair amount of explaining that Node.js is not monolithic and no one person speaks for the project. It's an uphill battle.

At this point, emphasizing that NodeTodo-is-not-a-Foundation-thing is a va

[2018-07-30 13:36] ZibbyKeaton opened #83 "Code + Learn Copy for the JS Interactive Website"
We would like to post information on the Code + Learn on the JS Interactive website. Below is my suggested copy. Folks will have the opportunity to register when they check out (similar to what we've done in years past).

Please let me know if this copy looks good as soon as you can. I would like to get this posted the website on Wednesday (August 1) as we have a blog to promote all our add-ons at

[2018-07-30 14:10] mcollina commented on #83
+1.

[2018-07-30 14:11] mcollina commented on #83
Are mentors supposed to register for this? I didn't last year.

[2018-07-30 14:14] ZibbyKeaton commented on #83
Not sure... Let me check in with our events folks to see what they would like to do here (the person who would know all this is on PTO today). I believe we might want to have a registration process, so we know how many folks we can accommodate. Will get back to you on this asap :)

[2018-07-31 06:14] Trott commented on #83
Looks good to me other than just one issue: Seems to be different descriptions of the cost: "Complimentary to JS Interactive attendees" vs. "free to attend".  The first one implies there's a cost for people who aren't Interactive attendees, and the second one seems to imply anyone can attend at no cost. FWIW, my preference would be: Free to attend for anyone, but registration is required. I'd be O

[2018-07-31 16:00] ZibbyKeaton commented on #83
Good catch @Trott it should read "Complimentary to JS Interactive attendees." We can expand this further out, however this event generally books up quickly.

@dshaw had asked in a different thread what the process was for registering mentors for Code + Learn. The JS Interactive team is happy to help organize this if the Code + Learn folks would like us too. We can create a special form, etc.

If y

[2018-07-31 20:08] Trott commented on #83
In the past, we just open an issue and people indicate they'll attend and do it.

Good idea probably to touch base every few weeks. I'll email you.

[2018-07-31 20:10] Trott opened #84 "Mentors for Code + Learn @ Node+JS Interactive 2018"
Code & Learn
Date: October 12, 2018
Time: 9:00-12:00 pm
Vancouver BC CAN

I don't *think* there's another issue identifying mentors for this event, so let's get it going here. (And if one is open somewhere else, link it here, close this, and accept my apology in advance.)

1. Rich Trott (@trott)
1. Anna Henningsen (@addaleax)
1. Matteo Collina (@mcollina)
1. Ali Sheikh (@ofrobots)
1. Michaël Zasso

[2018-07-31 20:10] Trott commented on #84
@nodejs/collaborators

[2018-07-31 20:11] mcollina commented on #84
Count me in.

[2018-07-31 20:13] ofrobots commented on #84
I'd be happy to help.

[2018-07-31 20:18] targos commented on #84
I'm in

[2018-07-31 20:32] misterdjules commented on #84
I'd like to help too!

[2018-07-31 20:41] MylesBorins commented on #84
mememe

[2018-07-31 21:35] tniessen commented on #84
I'll most likely be there (and have some ideas).

[2018-07-31 22:49] trivikr commented on #84
In 👍

[2018-08-01 00:08] BridgeAR commented on #84
Count me in.

[2018-08-01 01:40] apapirovski commented on #84
I thought there was one already. Either way, I'm in.

[2018-08-01 05:16] joyeecheung commented on #84
I'll be there

[2018-08-01 09:00] guybedford commented on #84
I'd be glad to join.

[2018-08-01 12:18] ryzokuken commented on #84
I'd love to help out.

[2018-08-01 17:03] codebytere commented on #84
👋 also down!

[2018-08-02 19:48] lance commented on #84
I'll be there!

[2018-08-02 21:57] mhdawson commented on #84
I'll be there and happy to help as well.  Added to list as suggested.

[2018-08-09 16:10] addaleax commented on #84
@nodejs/collaborators Any more volunteers here? We’d love to get something around 40 – 50 collaborators (or previous contributors) involved as mentors for this. :slightly_smiling_face:

[2018-08-09 16:11] vdeturckheim commented on #84
It would be the first time, but I should be there!

[2018-08-09 16:23] Trott commented on #84
/ping some members of @nodejs/collaborators that I know plan to be there: @davisjam @ChALkeR @guybedford

[2018-08-09 16:27] Trott commented on #84
Related note: @bengl Were you the thumb-drive provider last year? Lessons learned? Things we should do differently? Things we need to make sure we do again because it worked so well?

We'll definitely email all attendees ahead of time with instructions to install required build tools and implore them to do it at least one day before Code + Learn.

Maybe lots of us can make time to sit at the commu

[2018-08-09 17:05] mmarchini commented on #84
I'd love to help too!

[2018-08-09 18:14] bengl commented on #84
I didn't purchase the thumb-drives. That was done by someone on the foundation side (I can't recall who), and there were 20 of them, IIRC. What I did was take all of them and put a zip file containing a recent clone of the repo on them.

Unfortunately I have no idea where these thumb-drives are now, and it's possible that I took them at the end and lost them, so I'm happy to replace them if we can

[2018-08-09 18:56] Trott commented on #84
I think you might have entrusted them to me. I'm pretty sure I stashed them away with all the pins. I have it on my calendar to find all that stuff tonight when I'm home.

[2018-08-09 18:58] Trott commented on #84
Might be also the effectiveness of the Foundation email to attendees instructing them to install devtools and clone the repo the day before arriving.

[2018-08-13 17:33] bcoe commented on #84
I'm hoping to be in Vancouver for this 👍

[2018-08-22 04:29] XadillaX opened #85 "COSCon'18 (China Open Source Conf) wants to hold a Code + Learn Workshop"
COSCon'18 asked me that if it's possible that they want to hold a C+L Workshop on 20/21 Oct 2018 @ Shenzhen China.

This is the website: http://www.kaiyuanshe.cn/
And this is COSConf 2017: http://www.huodongxing.com/go/coscon17

/cc @Trott @addaleax @joyeecheung @yorkie @DavidCai1993

## Possible Mentors

+ [x] @XadillaX
+ [ ] @joyeecheung
+ [x] @ryzokuken
+ [x] @BridgeAR
+ [x] @yorkie
+ [ ] @Davi

[2018-08-23 09:55] XadillaX commented on #85
/ping @Trott @addaleax

[2018-08-23 10:15] fhinkel commented on #80
Looks like we'll have two events this fall. One in Europe and one in North America:

https://github.com/nodejs/code-and-learn/issues/81
https://github.com/nodejs/code-and-learn/issues/84

And potentially one in China:
https://github.com/nodejs/code-and-learn/issues/85

[2018-08-23 10:15] #80 closed, assigned to nobody

[2018-08-23 10:20] addaleax commented on #85
I think you can upload files on Github?

[2018-08-23 12:59] XadillaX commented on #85
https://www.dropbox.com/s/m3i5nxvwhgaqb1k/COSCon%202018.pdf?dl=0

Here's the PDF. This is a Tentative Agenda.

[2018-08-24 23:48] addaleax commented on #84
Maybe another very gentle ping in the direction of @nodejs/collaborators ? :)

[2018-08-27 09:23] XadillaX commented on #85
Any plan for this workshop or just reject?

[2018-08-27 10:13] joyeecheung commented on #85
@addaleax @Trott Would any of you be available for this event?

I will be traveling for an entire month before that so I am not sure if I am up for another trip to Shenzhen. In any cases I think having a few mentors and a list of issues is enough to hold a code-and-learn?

[2018-08-27 10:26] ryzokuken commented on #85
Depending on how good I get at it in Vancouver, I could help out with this, but even in the best case scenario I'd probably not be able to do it all by myself.

[2018-08-27 11:41] addaleax commented on #85
This is only a week after Vancouver, and I think that’s going to impact this both in # of available mentors and how quickly we can get the PRs merged… I would not be available myself, no.

[2018-08-27 12:01] BridgeAR commented on #85
I guess I could go there in case nothing urgent comes up for me. This will only make sense though if we are enough mentors on sight. @XadillaX is there an estimate of participant for the Code & Learn?

[2018-08-27 20:14] Trott commented on #85
I can't do it, I'm afraid, although this raises the point that we probably want to plan out what Code + Learn events the Foundation is going to send folks to for 2019 and request a budget. We did that for 2017 and it worked great. I believe we requested a budget for 2018 but all the planning kind of fell apart. It was mostly handled by @hackygolucky in 2017 (or at least she coordinated stuff to ma

[2018-08-29 04:07] tedliu1 commented on #85
Hi, This is Ted Liu from KAIYUANSHE. We did conduct the 2016 Node.js Live Roadshow Beijing, http://www.kaiyuanshe.cn/interexchange/193.mhtml, together with Node.js Foundation and Microsoft China. The person in charge was Emily Chen, who is a director of the board of KAIYUANSHE and also an Microsoft R&D staff.

It'd be great if you can conduct a Code+Learn session at the upcoming 2018 China Open So

[2018-08-29 04:07] tedliu1 commented on #85
Hi, This is Ted Liu from KAIYUANSHE. We did conduct the 2016 Node.js Live Roadshow Beijing, http://www.kaiyuanshe.cn/interexchange/193.mhtml, together with Node.js Foundation and Microsoft China. The person in charge was Emily Chen, who is a director of the board of KAIYUANSHE and also an Microsoft R&D staff.

It'd be great if you can conduct a Code+Learn session at the upcoming 2018 China Open So

[2018-08-29 04:10] tedliu1 commented on #85
The audience size mentioned above is referred to the Node.js C+L session at COSCon'18.

[2018-08-29 05:06] XadillaX commented on #85
@BridgeAR we can refer @tedliu1's reply.

[2018-08-29 05:09] XadillaX commented on #85
@Trott sorry to hear that. :(

[2018-08-29 09:49] BridgeAR commented on #85
With that audience size we should likely need about ten mentors. Having less would be frustrating for the attendees.

[2018-08-29 10:35] ryzokuken commented on #85
I guess an important factor here would also be if COSCon is willing to fund the travel etc. for the mentors or if it'll have to be done using foundation/corporate/personal funds.

[2018-08-29 11:05] XadillaX commented on #85
I think I can be there as a mentor.

[2018-08-29 12:42] tedliu1 commented on #85
@ryzokuken We may have some limited travel assistance budget for COSCon'18 for 1 or 2 mentor(s). Alternatively, you may choose to downsize the C+L to half or less, i.e. 25-30 or so and find domestic mentors which we may be able to cover their travel.

[2018-09-02 05:16] Trott commented on #84
Hi, everyone!  Two things I'd ask you to consider getting in touch with me about:

1. As you may be aware, I come to these things with a stack of paper slips with tasks on them. If you think you have some good Code + Learn tasks that could be handed out in Vancouver, get in touch via email or Twitter DM or IRC messaging or something. (My email is in my GitHub profile.)

2. One thing I'd love to be

[2018-09-04 08:45] XadillaX commented on #85
@ryzokuken Hey, how's @tedliu1's proposal?

[2018-09-04 13:57] DavidCai1111 commented on #85
Maybe I can be there, but I wonder if I should pay the travel fee by myself?

[2018-09-04 19:13] ryzokuken commented on #85
@XadillaX if we downsize C+L to a smaller group of interested individuals as @tedliu1 suggested, we could make this work with fewer mentors, which would be much easier for COSCon to sponsor and for us to organize.

I think we should talk to existing collaborators in China to see if we can get as many as we can there.

/cc @joyeecheung would you be free during that time period?

I'd also love to he

[2018-09-04 19:26] BridgeAR commented on #85
The main preparation can be done from anywhere and IMO the main point is to have enough tasks up front and enough people to help on sight. Besides that it is good to have a good introduction so everyone knows what to do and also some advice before the actual event online (e.g., it's quite important to have node pre compiled). We also have some pins for the first contribution and should get some th

[2018-09-04 23:46] BridgeAR commented on #85
@starkwang @JacksonTian @MoonBall would you be interested in helping out as mentor at the code and learn?

There are also quite a few collaborators in Japan and more in India which is both much nearer than e.g., Europe or the U.S. even though I do not know if the flight prices are cheaper or not (but I guess they are). Should we ask some of those as well?

[2018-09-05 01:02] starkwang commented on #85
I'm just working in Shenzhen so I'd like to be there. But I have no experience in C+L. Is there any guide for the mentor?

[2018-09-05 01:11] ryzokuken commented on #85
@starkwang there's one happening at JSI in Vancouver, so I'm planning to get some hands-on experience there, you can do the same if you're planning to visit. If not, worst case scenario, I think we could setup a call or something and perhaps ask @addaleax and @Trott for advice?

Either way, I think you should totally come if you're free and wish to.

[2018-09-06 10:19] ryzokuken commented on #85
@XadillaX I checked my name in the title as I plan to attend if things work out.

@BridgeAR since you plan to do the same, please check your name as well?

With that, we'll have atleast 5 willing mentors. Anywhere from 5-10 should be good enough for a smaller crowd, I think.

[2018-09-10 04:43] peterremote1980 commented on #85
i have submitted a talk, but no reply

[2018-09-10 07:16] tedliu1 commented on #85
Let me check and revert to you.
Best regards,

Ted Liu

    On ‎Monday‎, ‎September‎ ‎10‎, ‎2018‎ ‎12‎:‎43‎:‎17‎ ‎PM‎ ‎CST, 火雲邪神 <notifications@github.com> wrote:

i have submitted a talk, but no reply

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-09-10 10:09] ryzokuken commented on #85
@tedliu1 @XadillaX I don't know the specifics of how visas etc. work in China, but if we're planning to pull this through (I think we already have the minimum number of required mentors and would hopefully have some more people chiming in), I guess now's the right time to start planning stuff and get all the formalities done?

@Trott is there someone from the foundation that needs to be informed o

[2018-09-10 10:59] joyeecheung commented on #85
I found an article about visas for Shenzhen on ICVS 2017's website, it may be helpful. For people who need a visa (except the visa on arrival from Hong Kong to Shenzhen) an invitation letter may be necessary.

https://icvs2017.ram-lab.com/attendee/visa/

[2018-09-10 18:22] Trott commented on #85
¯\\_(ツ)_/¯

[2018-09-11 23:59] tedliu1 commented on #85
Hi, May I suggest a quick chat over Zoom at a time convenient to those mentors who can come sort things out? The link is
https://zoom.us/j/6669991980

My Wechat id is tedliu002 for those mentors in China who wish to reach out to ne directly.

KAIYUANSHE has used our home-grown  "Open Hackathon Cloud Platform" to host many online or on-site hackathons and C+L camps before. All front-end and back-en

[2018-09-12 00:01] tedliu1 commented on #85
Hi, May I suggest a quick chat over Zoom at a time convenient to those mentors who can come to sort things out? The link is
https://zoom.us/j/6669991980

My Wechat id is tedliu002 for those mentors in China who wish to reach out to me directly.

KAIYUANSHE has used our home-grown  "Open Hackathon Cloud Platform" to host many online or on-site hackathons and C+L camps before. All front-end and back

[2018-09-12 00:07] tedliu1 commented on #85
@peterremote1980 I checked the CFP submission site but didn't find your entry. Is it this link? https://www.wenjuan.com/s/mmmIRb/

[2018-09-13 15:16] tedliu1 commented on #85
Let me introduce Frank Zhao @Frankzhaopku who is an experienced Node.js developer and he won a MSFT hackathon top prize with a Node.js-based application. Frank is also quite familiar with our "Open Hackathon Cloud Platform". He can be one of the mentor.

[2018-09-13 15:19] tedliu1 commented on #85
Let me introduce Frank Zhao @Frankzhaopku who is an experienced Node.js developer and he won a MSFT hackathon top prize with a Node.js-based application. Frank is also quite familiar with our "Open Hackathon Cloud Platform". He can be one of the mentor.

[2018-09-13 21:57] Trott commented on #84
I'm putting together tasks and there's one (and maybe several) that may require some N-API help. Any @nodejs/n-api volunteers for mentoring?

[2018-09-13 21:58] Trott commented on #82
I think at this late date, we've missed the boat on this. If anyone wants to dive in and make this happen, please comment or re-open. Otherwise: Closing.

[2018-09-13 21:58] #82 closed, assigned to nobody

[2018-09-14 02:09] XadillaX commented on #85
@ryzokuken so we may keep touch with @tedliu1. Check the process.

[2018-09-14 03:41] ryzokuken commented on #85
@tedliu1 I'm free for a quick chat pretty much all the time, @BridgeAR what time works for you?

[2018-09-14 17:10] Trott commented on #83
Seems like this can be closed. Re-open or comment if I'm wrong about that!

[2018-09-14 17:10] #83 closed, assigned to nobody

[2018-09-16 04:28] XadillaX commented on #85
/ping @BridgeAR

[2018-09-16 04:35] XadillaX commented on #85
The date is coming, I think we should discuss it soon.

[2018-09-16 06:21] ryzokuken commented on #85
@XadillaX if you and @tedliu1 are free on the weekend, I'm open to discussing today, otherwise let's just do it next week. I'll ping @BridgeAR elsewhere to grab his attention.

[2018-09-17 14:06] XadillaX commented on #85
@ryzokuken maybe we can choose a weekday. @tedliu1 how about you?

[2018-09-17 15:23] mhdawson commented on #84
I can volunteer for the N-API mentoring, and I think @gabrielschulhof will also be around.

[2018-09-17 15:28] NickNaso commented on #84
I will be there and I'm available for the N-API mentoring if necessary.

[2018-09-17 15:43] jschlight commented on #84
I am also available for N-API mentoring.

[2018-09-17 23:57] BridgeAR commented on #85
I just set up a doodle for a call: https://doodle.com/poll/5duz2afq7q9agzb6

[2018-09-18 06:06] tedliu1 commented on #85
would this afternoon, Beijing time, 16:00 or 17:00 a good time for a quick call at Doodle? If not, I'm open tomorrow whole day.

[2018-09-18 07:35] BridgeAR commented on #85
Looking at the doodle it seems like tomorrow, Beijing time, 21:00 would be best.

[2018-09-18 08:55] tedliu1 commented on #85
One bad news here. Due to excessive amount of call-for-paper submission, and there are more hands-on camps applications than we expected. The CFP review team has just approved and finalized the final agenda today and informed me that there is no more timeslot and space available for the Node.js C+L proposed. I guess that means we can only do it next time. Should you feel we should still talk tomor

[2018-09-18 12:28] BridgeAR commented on #85
@tedliu1 we could still have a call just to get aligned a bit for the next year. That way we might start organising it earlier and have a better overview of what is necessary.

[2018-09-18 12:31] tedliu1 commented on #85
OK let's chat tomorrow night then.

Best regards,

Ted Liu,
Co-founder & chairman of the board of directors, KAIYUANSHE | ASF Member

  2018 年 9 月 18 日周二 20:29，Ruben Bridgewater<notifications@github.com> 写道：
@tedliu1 we could still have a call just to get aligned a bit for the next year. That way we might start organising it earlier and have a better overview of what is necessary.

—
You are recei

[2018-09-18 15:50] ryzokuken commented on #85
Not exactly bad news, in my opinion. I'm glad everything worked out for you all. As @BridgeAR said, I'm happy to still stick around for the call to discuss plans for the next year.

[2018-09-19 07:30] BridgeAR commented on #85
@tedliu1 @XadillaX I am not certain what conference calls work for you. Does hangouts work? Or do you maybe use Zoom?

[2018-09-19 07:41] tedliu1 commented on #85
Zoom will be fine. Here is the link: https://zoom.us/j/6669991980
Let's talk tonight at 21:00 PM (Beijing time)

[2018-09-19 07:42] BridgeAR commented on #85
Awesome! Talk to you later.

[2018-09-19 13:38] BridgeAR commented on #85
Here a brief summary of our call:

Participants:

* @tedliu1
* @XadillaX
* @BridgeAR

Main questions were:

* What is necessary to be a mentor
* How can we set something like this up for people who are not able to participate in person (both, mentors and attendees)
* What types of tasks are there
* Is there more C++ or JS knowledge necessary

AFAIK there is no specific requirement for being a ment

[2018-09-19 15:50] Trott commented on #85
I prefer to require that mentors be Collaborators because those are people that can help with the _procedural_ parts (commit message formatting, filling out the GitHub template, answering questions about how to get a CI job kicked off or what the fast-track label on the PR means, etc.).

At a minimum, a mentor should be someone who has contributed to Node.js core. If they haven't done that, then t

[2018-09-19 15:52] Trott commented on #85
Oh, also: There's a lot of logistical challenges in running a Code + Learn, but the most challenging thing that I do is coming up with enough good first issues. (There may be other more challenging things, but if there are, someone else does them and I never have to be aware of them. Thank you, whoever takes care of things so I never have to!) And I think it's important to have someone who is expe

[2018-09-19 17:30] joyeecheung commented on #85
If it isn't too small a task to get people motivated: adding comments (at least the top comments that explain the whole purpose of the test) to tests is always welcome and it's a good starting point to look into the API internals. Also a good starting point to add tests for more edge cases. And there are still a lot of tests without top comments. (Also personally I hope to see more of them so it's

[2018-09-20 03:16] tedliu1 commented on #85
Dear Ruben, Thank you for the detail summary. It was a great pleasure to speak with you. As mentioned, we have developed a home-grown open source hackathon/code+learn cloud platform, called Open Hackathon, which is ab one-stop solution for organizer, tutor and learner to conduct online/onsite C+L/hackathon event swiftly and seamlessly. One can install almost every thing, backend systems, data, iss

[2018-09-20 23:56] Trott commented on #84
(Added @digitalinfinity to list of mentors.)

[2018-09-21 01:53] refack commented on #84
I don't know if people will find it interesting, but IMHO adding comments to tests (or even code) would be very valuable.
Describing tests and subtests.
Referencing non trivial code to its originating PR.
Maybe stuff to help https://github.com/nodejs/node/pull/22405 (make source easy to ref from the docs)

[2018-10-03 12:15] ChALkeR commented on #84
@Trott I got my visa and flight tickets last week, so I'm pretty certain that I will be there.

I suppose you could count on me being available for Code+Learn. :smiley:
I did not participate in Code+Learn previously, but I have some university teaching assitant experience.
I would be glad to be of help.

[2018-10-03 20:25] joaocgreis commented on #84
I won't be able to be there, but want to leave a friendly reminder that we have https://github.com/nodejs/node/tree/master/tools/bootstrap . This should be the easiest way to tell attendees how to install the tools on any system, and there is even a Boxstarter script that should make it straightforward on Windows. Have a good Code+Learn!

[2018-10-11 23:11] BridgeAR opened #86 "Common questions at C&L events"
This issue is meant as a kind of FAQ for mentees and mentors.

Please add comments for things that you might encounter so others can look this up as well.

Questions:
- __How to make sure the code is covered without running `make coverage`.__
  - A simple solution is to just add a `console.log` statement at the code point that should be reached and to check the console output.
- __How to get the t

[2018-10-12 17:15] ChALkeR commented on #86
1. **[macOS]** `test-cluster-bind-privileged-port` and `test-cluster-shared-handle-bind-privileged-port` fail on macOS Mojave, see https://github.com/nodejs/node/issues/21679.
  **Solution**: known Mojave issue, just ignore those two.
2. **[macOS]** Tests that launch subprocesses and wait for them to abort (e.g. `test-process-abort-exitcode` and `test-domain-with-abort-on-uncaught-exception`) take

[2018-10-12 20:41] ChALkeR commented on #86
Those issues are not code-and-learn specific, I think that they should be either resolved or mentioned in the documentation (e.g. `BUILDING.md`).

[2018-10-16 19:33] mhdawson commented on #86
Not necessarily 100% relevant but one comment I got was that its not always obvious who the mentors are.  Something like wearing the same shirt or hats that stand out might help ?

So the question would be "who are the mentors"

[2018-10-19 19:29] edsadr opened #87 "Mentors for Code + Learn @ NodeConf Colombia 2019"
Code & Learn
Date: June 21st, 2019
Time: 14:00-18:00 COT
Medellin, Colombia

This will be the first NodeConf in Colombia; we will have @addaleax and @jasnell as speakers, @bnb will be speaking too, we can use as much help as @nodejs/collaborators can provide, we have a very active community powered by previous JS conferences and a lot of local meetups, we expect around 300 attendees in the confere

[2018-10-25 17:21] BridgeAR commented on #84
Thanks a lot to all mentors! It was a great event!

[2018-10-25 17:21] #84 closed, assigned to nobody

[2018-10-29 06:12] trivikr commented on #81
One of the learnings from NodeJSInteractive Code-and-Learn was that it was not obvious for participants to find out who the mentors are (https://github.com/nodejs/code-and-learn/issues/86#issuecomment-430369958)

Should we have separate T-Shirts for mentors at NodeConf EU Code-and-Learn? :smile:
cc @BridgeAR

[2018-10-29 11:32] sebdeckers commented on #81
👍🏻 ... and my hacks!

[2018-10-29 14:19] gabrielschulhof commented on #81
I'd also like to help out 👍

[2018-11-02 03:34] gireeshpunathil opened #88 "Bangalore, November 17th"
We (@thefourtheye, @ryzokuken and me) are planning to run a code & learn in Bangalore on  November 17th (I guess this is the second one in India, after #76).

The exercise will be run as part of the next instance of [Polyglot-Languages-Runtimes meetup](https://www.meetup.com/Polyglot-Languages-Runtimes-Java-JVM-nodejs-Swift/events/256057028/). IBM office space will be used for the event. Count of

[2018-11-02 06:48] Trott commented on #88
All the relevant `util.is*()` funcitons are deprecated. I don't think we should be using them in test code. I prefer `typeof` checks myself. Is there something I'm missing?

[2018-11-02 06:51] Trott commented on #88
I have some leftover tasks from the Vancouver Code & Learn. It's also possible that there will be some leftover after the NodeConf EU Code & Learn. Do you have an idea how many attendees you expect?

[2018-11-02 06:56] Trott commented on #88
If you want to help out ChakraCore, there are tests where they float patches to make them pass with ChakraCore because the error message text is different than provided by V8. In my opinion, we should not rely on error message text that originates from the JS engine as it can change any time we update the engine to a new version. So, a good task might be removing the message text checks and replac

[2018-11-02 07:36] gireeshpunathil commented on #88
@Trott - thanks, I did not check that `util.is*` are deprecated, realized now. So will skip that.

are those the correcting the order or `assert` parameters? or something else? please let me know, so I will dig those out and see how many are there.

sure, I will check with @BridgeAR to see if there are TODO items from those, after that event.

Chakaracore - thanks for the suggestion, I will review

[2018-11-02 07:47] Trott commented on #88
@gireeshpunathil That's probably a lot of them, maybe even most of them. And I suspect @BridgeAR will be using those at NodeConf EU, so maybe wait until after NodeConf EU to try to see how many are left?

[2018-11-05 10:01] ZYSzys commented on #88
@gireeshpunathil Maybe you can promote v8 name spaces with `using v8::` in `src` directory. Things like those [https://github.com/nodejs/node/pull/23934](https://github.com/nodejs/node/pull/23934), [https://github.com/nodejs/node/pull/22641](https://github.com/nodejs/node/pull/22641)

[2018-11-05 10:18] gireeshpunathil commented on #88
thanks @ZYSzys ! makes sense, will do! thanks.

[2018-11-06 12:46] BridgeAR opened #89 "Example coverage task"
This is used as example how to solve a coverage task:

https://tinyurl.com/codeandlearn-assert-1

__Description__:
A test case is missing for the else case.

__Task__:
Add a test case to cover this branch. Be carful to reach exactly this code branch.
Check for other examples in the assertion test files (`test/parallel/test-assert*.js`).

__Before opening the pull request__:
Please read the commit

[2018-11-06 16:11] mcqj commented on #86
It would be useful if the tasks being assigned include the issue number of the associated issue so that committers can include a reference in their commit message.

[2018-11-06 18:02] BridgeAR commented on #86
@mcqj Icreated these tasks specifically for the code and learn event and there are no issues for them. It would have been even more work to create issues and I hope you all had a good experience also without such a reference!

[2018-11-06 20:12] BridgeAR commented on #81
Thanks a lot to everyone!

[2018-11-06 20:12] #81 closed, assigned to nobody

[2018-11-07 17:24] #71 closed, assigned to nobody

[2018-11-09 14:58] gireeshpunathil commented on #88
given the RSVP count has reached 65, I am thinking of

`test: convert anonymous closure functions into arrow functions`

to be used as fillers, in case of scarcity.

/cc @Trott to see if this is indeed a good candidate and has no side effects. (IIRC we used it in the past, but don't remember when)

[2018-11-09 15:14] BridgeAR commented on #88
@gireeshpunathil I'll send you a list of tasks later on that are still open from the ones that I created for NodeConf EU but there are only very few left.

In #86 you find a short FAQ for things that are commonly asked. Please feel free to expand that list in case you come among anything new.

I also created #89 as an example how to actually solve the tasks.

As a recommendation: go through the co

[2018-11-09 15:21] gireeshpunathil commented on #88
thanks @BridgeAR - that will be really helpful!  #89 looks really impressive, agree that it is a real win-win in terms of satisfaction and quality.

[2018-11-13 01:03] antsmartian commented on #89
This is really neat @BridgeAR 👍

[2018-11-13 01:10] antsmartian commented on #88
@gireeshpunathil @BridgeAR Thanks for this. By the way, I thought we can also tackle this issue: https://github.com/nodejs/node/issues/22492, in the meet up. It already have list of code blocks, which might need test cases. This in fact, gives the folks an idea to navigate around the codebase and see if a test case is present or not. If not add them (certain things might not be easy). Thoughts? 🤔

[2018-11-13 01:27] gireeshpunathil commented on #88
@antsmartian - thanks for this insight! definitely looks promising. I will go through it in detail to figure out how to extract PRs from that.

[2018-11-14 01:12] trivikr opened #90 "Mentors for Code-and-Learn @ Seattle (Dec 18)"
Code & Learn
Date: Tuesday, December 18th, 2018
Time: 18:00-21:00 PST
Venue: Galvanize Seattle ([link](https://www.galvanize.com/seattle/campus))

Galvanize is expecting 14 students (currently enrolled with their Web Development Course) to attend, but they are interested in making this event open to public. They'd organized workshops with upwards of 60 people in the past.

I'm planning to advertis

[2018-11-15 03:41] Trott commented on #88
If you need issues, especially slightly more challenging ones than the usual initial issues, there are a few PRs that seem really close, but have been abandoned. A couple examples are https://github.com/nodejs/node/pull/21372 and https://github.com/nodejs/node/pull/22315.

[2018-11-15 12:41] mcqj commented on #86
No problem at all @BridgeAR

[2018-11-16 15:03] trivikr commented on #90
cc @nodejs/chakracore as they're likely to be from Seattle area

[2018-11-17 10:23] gireeshpunathil commented on #88
Code & Learn BLR about to start in one hour from now. 50 participants in the room to be on-boarded . Request @nodejs/collaborators to support this with reviews and hand-holding. thanks!

[2018-11-17 10:24] targos commented on #88
Code & Learn review mode: ON

[2018-11-20 15:24] trivikr commented on #90
CCing members of @nodejs/chakracore individually
@agarwal-sandeep @aruneshchandra @boingoing @curtisman @digitalinfinity @EdMaurer @ianwjhalliday @kfarnung @kunalspathak @obastemur @sethgaurav

[2018-11-20 18:39] digitalinfinity commented on #90
Aaaah @trivikr this is awesome and I'd have loved to have helped out but I'm out of town during this time 😢 - if you organize this again next year, please let me know and I'll try to help!
Other @nodejs/node-chakracore folks, if you have availability, I encourage y'all to go, it's a great way to help people who are eager to learn about Node. Also cc @michellopez @yodurr since they'll be interested

[2018-11-21 18:35] necccc opened #91 "JSConf Budapest 2019 would like to hold a Code & Learn Workshop"
Hi there,

I attended the Code & Learn workshop on NodeConf EU 2018, and loved it!
I'm one of the organizers of [JSConf Budapest](https://jsconfbp.com/), and I think many of our attendees would like to learn and start contributing to Node in 2019!

The conference is on Sept 25-27 2019 (3 days with CSSConf Budapest included),
Wednesday-Friday.

Our workshop day is planned for Tuesday, Sept 24th 201

[2018-11-21 18:57] mcollina commented on #91
(I told @necccc to open this issue)

This is a fantastic idea, +1. I think the travel fund should be able to cover the traveling.

[2018-11-21 19:07] Trott commented on #91
I know it's a long way off at this point, but do you have an approximation of how many attendees you would expect at the Code + Learn session?

[2018-11-21 19:22] necccc commented on #91
At the conference we'll have around 480 ppl, around 20% of them attended some workshop last time we had a workshop day - we hope we can raise that number for 2019, because in our feedbacks 43% said they would attend a free workshop next time.

I would say 20-30 people, we can provide venues for larger crowds as well (even sponsored venues, at companies, for free).

[2018-11-21 20:39] julianduque commented on #87
Hello, we included a **Code & Learn Supporter** tier in our [sponsorship prospectus](https://colombia.nodeconf.com/assets/NodeConfCo_Prospectus.pdf) if any company wants to sponsor more mentors for our Code & Learn, please share and join us in Medellín next year!

<img width="942" alt="screen shot 2018-11-21 at 3 37 16 pm" src="https://user-images.githubusercontent.com/733877/48867192-66814480-eda

[2018-11-21 20:40] mikeal commented on #87
@julianduque that's a brilliant idea and super generous, thanks! :)

[2018-11-21 20:43] julianduque commented on #87
Thanks, @mikeal, the idea was inspired by @fhinkel and this can help us and our attendees have a great experience :)

[2018-11-21 20:44] devrchancay commented on #87
I do not understand this well @julianduque, it means that my company sponsors the trip and the hotel and you give me an entry to nodeconf.

What does it mean to be a mentor?

[2018-11-21 20:46] julianduque commented on #87
@devrchancay this is for Node.js Collaborators & Contributors that can be mentors of Code & Learn, if you are part of the Node.js project, sure, you are more than welcome :)

[2018-11-21 20:52] devrchancay commented on #87
Understood thank you, I'm not a collaborator that's one of my next goals thank you.

PD: I'm about to buy the ticket, I hope to greet you there.

[2018-11-21 20:53] julianduque commented on #87
@devrchancay so, please join us at Code & Learn, that's the main idea behind the event, start contributing and become a collaborator!

[2018-11-21 22:25] devrchancay commented on #87
@julianduque Can I send a DM on twitter to talk more about that?

[2018-11-22 10:04] benjamingr commented on #91
Hey sure, I'd love to volunteer to this and it's a great time for me time wise (25Sep-27Sep). If you need anything specific to set up you can contact me at my email from https://github.com/nodejs/node

[2018-11-24 00:44] hiroppy opened #92 "Code And Learn at NodeFest 2018"
[NodeFest2018](https://nodefest.jp/2018/)

I'm sorry that the submission of the issue was delayed.

Today, we'll have a Code-and-Learn event so I think that PR of Code And Learn will be submitted between 15:00 and 17:00. Thanks.

/cc @nodejs/collaborators @addaleax @joyeecheung

## Mentors

- [x] @hiroppy
- [x] @ronkorving
- [x] @Leko
- [x] @shisama
- [x] @addaleax
- [x] @joyeecheung

[2018-11-24 03:22] gireeshpunathil commented on #92
@hiroppy - great to know about the event; I am stand by for remote review service!
 - 15.00 Japan time?
 - how many participants expected?
 - what are the assignments you have in mind?

one high level observation from Bangalore code & learn was that new comers benefit a lot of an introductory session on git / github itself, since that is where people find it hard; not necessarily the actual change

[2018-11-24 04:16] gireeshpunathil commented on #86
1. I completed my first PR, where do I go next? How do I get the list of next level PRs that I can make?

Please review https://www.nodetodo.org/next-steps/

2. Did you make this (the code change requirement) on purpose, for the new comers?

No, these are incremental improvements that we identified but kept on stock for this exercise. We did not artifically created these issues for the purpose of

[2018-11-24 04:24] gireeshpunathil commented on #88
New contributors are absolutely excited about this, few of them sent me emails and shared their happiness. Few of them are picking up work items on their own.

Thank you all the mentors who reviewed PRs with absolute receptiveness, approachability and kindness. Your guidance created a great open source experience to them that they can leverage!

Closing this issue as its purpose is met, having mos

[2018-11-24 04:24] #88 closed, assigned to nobody

[2018-11-24 04:24] hiroppy commented on #92
Oops sorry,

1. 15:00 is JST. UTC is 06:00.
2. The number of participants is about 30 people.(maybe...)
3. https://github.com/nodejsjp/node-1/issues/1

Thanks for the advice!

[2018-11-24 20:44] refack commented on #92
For future reference, it's a good practice to coordinate these events with the BuildWG. This weekend we planned to lock down the CI cluster in preparation for a security release - https://github.com/nodejs/build/issues/1594. Fortunately the lock-down was postponed.

/CC @nodejs/code-and-learn

[2018-11-24 22:30] hiroppy commented on #92
Code and Learn has finished successfully. Thanks!

[2018-11-24 22:30] #92 closed, assigned to nobody

[2018-11-25 05:02] Trott commented on #90
In the interest of continuous improvement of Code + Learn events, I'd ask that at this and future events, we make sure to encourage participants to:

* Create meaningful PR descriptions and titles.
* Read and comply with the GitHub PR template.
* Refrain from putting together multiple unrelated changes in different files into a single PR.
* Refrain from doing more than one task handed out at the e

[2018-11-25 09:11] targos commented on #90
I would also ask the organizers to avoid giving tasks that are purely style changes and/or that can be done automatically with `eslint --fix`.
I'm thinking especially about the tasks that change regular functions to arrow functions. IMO those changes do not improve the code base, make the git history harder to browse and sometimes remove useful information (For example: https://github.com/nodejs/n

[2018-11-25 09:32] lpinca commented on #90
I totally agree with @targos

[2018-12-06 22:34] trivikr commented on #90
Resolving this issue, as the event is postponed because proximity to the holiday season and lack of mentors.

We're planning to organize it either in late-Jan or early-Feb, and I'll create a new issue for it.

[2018-12-06 22:34] #90 closed, assigned to nobody

[2018-12-27 08:42] ryzokuken commented on #87
@julianduque I'd love to volunteer for mentoring the C+L.

[2018-12-28 00:56] julianduque commented on #87
@ryzokuken thanks!!! we will take you into account once we have our first sponsored mentor. ;)

[2019-01-15 03:45] sebdeckers opened #93 "CFP: Code + Learn @ JSConf.Asia (Singapore) 2019-06-[14|15|16]"
Looking for any interested mentors to help organise a Code + Learn workshop at [JSConf.Asia](https://2019.jsconf.asia).

🗓 Date: 16 June 2019 1:00 PM
🌏 Location: [LASALLE College of the Arts, 1 McNally St, Singapore 187940](https://goo.gl/maps/XsyALpSmnNF2)
⏳ Duration: 3.5 hours

Ideally mentors have contributed to Node.js in some way before, and/or attended a previous Code + Learn. Local mentors:

[2019-01-15 03:51] serrynaimo commented on #93
I think topically you'd best fit on the 16th of June at 1pm. Location is the LASALLE College of the Arts at 1 McNally St.

[2019-01-15 04:20] sebdeckers commented on #93
@serrynaimo Thanks. Updated the description.

[2019-01-15 05:28] serrynaimo commented on #93
Would be good to keep it to 1 or maximum 2 mentors (3 including you). We don't have that much space :)

[2019-01-16 18:17] ryzokuken commented on #93
@sebdeckers I guess it'll be much easier to volunteer once the speakers are announced? I personally submitted a couple proposals, and it'll be highly likely that any core collaborators who are selected to speak would end up also volunteering to mentor.

[2019-03-13 15:06] SuperCamiloTD commented on #87
@julianduque I'd love to volunteer for mentoring the C+L. x2

You can check my main repo: https://github.com/CamiloTD

[2019-03-13 15:41] julianduque commented on #87
@SuperCamiloTD Hey! Thanks for your interest and really appreciated!

Code+Learn mentors are Node.js Contributors/Collaborators that will help others submit their first (or 2nd, or 3rd, or 4th....) commit to the Node.js core project so that is a requirement to be a mentor, but, if you are going to attend the conference you are always welcome to participate :)

And of course, once you get the exper

[2019-03-26 03:29] oyyd opened #94 "Code And Learn At Beijing April 28th"
Our team in [Bytedance](https://en.wikipedia.org/wiki/ByteDance) is planning to run a code & learn workshop in Beijing, China on April 28th. And we have contacted some core collaborators in China as the mentors.

[Our office](https://www.google.com/maps/place/%E5%AD%97%E8%8A%82%E8%B7%B3%E5%8A%A8%E6%80%BB%E9%83%A8/@39.9723919,116.3263186,16.06z/data=!4m5!3m4!1s0x35f053daf21a4ebd:0xc8f19e23a9ecd877!

[2019-03-26 03:42] bugall commented on #94
nice ~

[2019-03-26 06:15] leeight commented on #94
👍

[2019-03-28 10:11] DmitryMakhnev opened #95 "Code & Learn Saint Petersburg 2019"
Hi there,

I'm a member of program committee [HolyJS Piter 2019 conference](https://holyjs-piter.ru/en/).
HolyJS and [PiterJS](https://medium.com/piterjs) (our local JS community) would like to organize Code & Learn workshop day after conference free for anybody.

@BridgeAR and @ryzokuken have been accepted to HolyJS Piter 2019 program (we'll update site as soon as possible) and also we've talked

[2019-04-01 15:39] vdeturckheim commented on #87
@julianduque @edsadr I should be around and would love to help there!

[2019-04-04 04:56] soyaine commented on #94
Will the workshop open the registration for others to participate in?

[2019-04-05 02:57] oyyd commented on #94
Hi, @soyaine. You can contact me via email if you are interested in the workshop :)

[2019-04-11 19:33] baitun commented on #95
When will registration open?

[2019-04-11 21:03] DmitryMakhnev commented on #95
We are planning format of the registration and looking the best for place for this. News will be soon.

[2019-04-24 19:58] ChALkeR commented on #95
Count me in =).

[2019-04-24 20:06] DmitryMakhnev commented on #95
@ChALkeR welcome!

[2019-04-25 09:55] oyyd commented on #94
For now, we have about 40 attendees and the assignments we have planned are shown below:

- Add `common.mustCall()` to these functions:
  - https://github.com/nodejs/node/blob/master/test/parallel/test-net-binary.js#L37
  - https://github.com/nodejs/node/blob/master/test/parallel/test-net-after-close.js#L27
  - https://github.com/nodejs/node/blob/master/test/parallel/test-net-buffersize.js#L29
  -

[2019-04-26 19:59] necccc commented on #91
Hi folks, we're negotiating workshops these days, and would be great if we can hopefully confirm the Code and Learn workshop. Can we help with any input right now?

[2019-04-28 05:39] oyyd commented on #94
The Code & Learn Beijing is about to start in one and a half hours from now(15:00 ~ 17:00 in China UTC 7:00 ~ 9:00). Request @nodejs/collaborators to support this with reviews and hand-holding. Thanks!

[2019-04-29 20:12] necccc commented on #91
cc @benjamingr @mcollina

[2019-04-29 23:52] mcollina commented on #91
This is not a long way to go now! We need some more people involved if we want to organize one in Budapest.

Unfortunately I would have to pass on that, as I would like to slow a bit on my travel schedule for Q3 and Q4.

[2019-05-03 05:11] oyyd commented on #94
The event has finished successfully! Our attendees are really glad to participate in such a workshop!

Many thanks to our mentors and their impressive talks:

- @starkwang
- @yorkie
- @joyeecheung

And thank you collaborators for helping review and merge the PRs! (hope I didn't miss any of you :-))

- @ZYSzys
- @gireeshpunathil
- @cjihrig
- @Trott
- @shisama
- @hiroppy
- @richardlau
- @jasnell
- @

[2019-05-03 05:11] #94 closed, assigned to nobody

[2019-05-08 16:08] DmitryMakhnev commented on #95
@baitun we are open the registration https://medium.com/piterjs/code-learn-ce20d330530f

[2019-05-16 13:30] gireeshpunathil opened #96 "Bangalore, May 25th"
We (@thefourtheye and me) are planning to run a Node.js Clinic (not to be confused with `node-clinic` tool) in Bangalore on May 25th.

In a first of its kind event, the objective is to provide an open platform for developers using Node.js technology, to seek resolutions for issues they are facing in their node projects; connect them with experienced community members to  identify fixes / answers /

[2019-05-20 18:11] MylesBorins commented on #91
I personally can't be there in person but could help with finding content

[2019-05-25 05:00] gireeshpunathil commented on #96
The clinic part of session will start in ~6 hours from now (11 AM UTC). Request collaborators to be on standby on help repo. Please 👍 here if you can be counted on.

[2019-05-25 05:07] gireeshpunathil commented on #96
current RSVP count is ~200, realistic expectation is ~50 with ~25 problems / questions / issues.
Please 👍  here if you are willing to join the session through webex to help with problem solving.

thanks in advance!

[2019-05-26 06:47] gireeshpunathil commented on #96
the event was a great success, meeting its stated purpose of improving Node.js developer experience.

some features:
 - ~40 attendees
 - 3 sessions
 - 2 hours clinic
 - ~40 questions

As no one brought proprietary code, all the clinic activity were performed in full view, like a panel session.

[2019-05-26 06:48] gireeshpunathil commented on #96
posting the questions that were asked here for posterity:
 - how does an asynchronous API brings the original execution context of the call site in the callback?
 - how does one know if an API is an asynchronous one or not?
 - how is an asynchronous API implemented?
 - what are the implications to the program if there is a blocking call in it?
 - how do I go about having to deal with code that is

[2019-05-26 06:48] #96 closed, assigned to nobody

[2019-05-26 10:14] ryzokuken commented on #91
I can volunteer to help out, I believe.

[2019-05-28 08:24] necccc commented on #91
Thank you! That would be great!

[2019-05-29 12:50] DmitryMakhnev commented on #95
https://twitter.com/mike1pol/status/1132998218483195904

[2019-05-29 12:50] #95 closed, assigned to nobody

[2019-05-29 12:52] BridgeAR commented on #95
@DmitryMakhnev thanks a lot for organizing everything!

[2019-05-29 12:55] DmitryMakhnev commented on #95
@BridgeAR you are welcome. I was really happy to meet you.
I hope that it isn't last Code + Learn in Russia in this year.

[2019-05-29 15:17] ryzokuken commented on #95
*cough* Moscow *cough*

[2019-06-24 15:49] julianduque commented on #87
Event was a success!!! Thank you all for helping <3 <3 <3

[2019-06-24 15:49] #87 closed, assigned to nobody

[2019-07-19 23:44] Trott commented on #93
Looks like this event is now in the past so I'm going to close this. Please re-open or comment if I'm mistaken.

[2019-07-19 23:44] #93 closed, assigned to nobody

[2019-09-02 10:14] XadillaX opened #97 "Node.js Code + Learn at COSCon'19 (China Open Source Conf)"
COSCon'18 wanted to hold C+L but finally aborted. (See https://github.com/nodejs/code-and-learn/issues/85)

COSCon'19 wants to apply for holding C+L again.

+ Date: 2 - 3, Nov, 2019
+ City: Shanghai CHINA
+ Website: https://www.bagevent.com/event/5744455
+ Intro for COSCon'2019:  [1_COSCon 2019 intro v1.6 (Eng).pdf](https://github.com/nodejs/code-and-learn/files/3565554/1_COSCon.2019.intro.v1.6.En

[2019-09-02 13:39] trivikr commented on #97
Dates, location and expected number of participants?

[2019-09-02 13:44] XadillaX commented on #97
sry i forgot to put it.

it's 2-3 Nov.

[2019-09-02 14:08] tedliu1 commented on #97
The dates are Nov. 2nd-3rd, 2019 and the venue is at East China Normal University in Shanghai.
I mentioned this opportunity to Khaidi Chu was a goodwill to invite the node.js code-and learn community to reach out to more China developers who wishes to learn node.js. It doesn't mean we WANT to hold the workshop. This is supposed to be a community driven event, Isn't it?

Should you feel interested

[2019-09-02 14:10] tedliu1 commented on #97
The expect number of participants is really up to you.
Best regards,

Ted LiuCo-Founder & Chairman of the Board of Directors, KAIYUANSHE |ASF Member, Sponsor Ambassador, IPMC Member, Echarts Podling Mentor
Mail: tedliu@apache.org

    On Monday, September 2, 2019, 10:08:43 PM GMT+8, Liu Ted <tedliu1@yahoo.com> wrote:

 The dates are Nov. 2nd-3rd, 2019 and the venue is at East China Normal Universi

[2019-09-03 11:09] XadillaX commented on #97
/cc @Trott @addaleax

[2019-09-03 20:34] Trott commented on #97
I won't be able to travel during that time. Moreover, I've been suggesting a hiatus for Node.js core Code + Learn events, for various reasons. But that doesn't mean that a motivated and knowledgable individual couldn't make a great Code + Learn event happen!

[2019-09-04 03:23] XadillaX commented on #97
I think I can find some collaborator mentors to join this workshop. But we're lack of experience to hold one C+L workshop. Maybe we want some help of experience.

[2019-09-09 10:52] yorkie commented on #97
@oyyd hosted a great workshop at #94, he may give some useful experiences :)

[2019-09-23 05:52] trivikr commented on #85
Closing as COSCon'18 happened in the past, and a new issue is cut for COSCon'19 at #97

[2019-09-23 05:52] #85 closed, assigned to nobody

[2019-10-14 22:23] DmitryMakhnev opened #98 "Code & Learn Moscow 2019"
Hi there,

I'm a member of program committee HolyJS 2019 Moscow conference.
HolyJS and PiterJS (our Saint Petersburg JS community) would like to organize Code & Learn workshop 2 days before the conference free for anybody.

Russian community is really interesting in Node.js (we have a lot of requests for Node.js topics for the conference) and I think that Code & Learning in Moscow will be wonderfu

[2019-10-16 11:57] ChALkeR commented on #98
Just in case: I confirm that I will be present there.

[2019-11-02 14:29] BridgeAR commented on #91
The event is already over. I am closing this therefore.

[2019-11-02 14:29] #91 closed, assigned to nobody

[2019-11-03 09:34] jizusun commented on #97
I am going to work on `primordials` in `lib\buffer.js`

[2019-11-03 09:51] peze commented on #97
I am going to work on `primordials` in` lib/internal/cluster/worker.js`

[2019-11-03 13:33] PerfectPan commented on #97
I am going to work on `var` in `lib/assert.js`

[2019-11-04 07:29] peze commented on #97
I am going to work on `var` in `test/parallel/test-whatwg-url-setters.js`

[2019-11-05 03:45] peze commented on #97
iI am going to work on `var` in `lib/path.js`

[2019-11-05 06:28] js00070 commented on #97
working on `env-string` in `src/api/*.cc`

[2019-11-06 21:53] BridgeAR commented on #98
Closing, since the event ended.

[2019-11-06 21:53] #98 closed, assigned to nobody

[2019-11-17 12:53] antimonyGu commented on #97
I am going to work on `primordials` in `src/events.js`

[2020-01-16 18:45] DmitryMakhnev opened #102 "Code & Learn Saint Petersburg 2020"
Hi there,

I'm a member of program committee [HolyJS 2020 Piter conference](https://holyjs-piter.ru/).
HolyJS and [PiterJS](https://medium.com/piterjs) (our Saint Petersburg JS community) would like to organize Code & Learn workshop at dates before or after the conference free for anybody.

Russian community is really interesting in Node.js (we have a lot of requests for Node.js topics for the con

[2020-03-18 06:23] ryzokuken commented on #102
Due to the escalating COVID-19 situation, the Russian government has put on hold all events that plan to accommodate more than 1000 people in Saint Petersburg. This limit is expected to come down to 100 in the following weeks. Keeping this in mind, HolyJS has been delayed and the new dates would be confirmed by the end of the week. Since the event is tied so closely to the conference, we have plan

[2020-03-18 06:33] cclauss commented on #102
Instead of doing face-to-face events, can we put the same energy into virtual events like webcasts, live streaming, pair programming via video conference / vs code live share, etc.  Now is a bad time to be having face-to-face events.